openapi: 3.1.0
info:
  title: Grimoire API
  version: 0.0.0
  summary: Self-hosted D&D 5e table companion.
  description: >-
    Hand-authored source of truth for the REST API, the live-session WebSocket messages
    (components only) and the MCP tool schemas. Generated code derives from this file.
  license:
    name: Attribution Assurance License
    identifier: AAL
  contact:
    name: Joris Jonkers
    url: https://jorisjonkers.dev
servers:
  - url: https://grimoire.jorisjonkers.dev
    description: Production
    x-internal: false
security:
  - forwardAuth: []
tags:
  - name: Campaign
    description: Campaigns, Members, roles and invites.
  - name: Compendium
    description: SRD reference data.
  - name: Play
    description: Rolls and the Action Log.
  - name: Prep
    description: The DM's prepared material and its Revisions.
  - name: Rules
    description: Non-mutating rules previews.
  - name: Identity
    description: The signed-in account.
  - name: Operations
    description: Liveness, readiness and service status.
paths:
  /api/v1/compendium/spells:
    get:
      operationId: listSpells
      x-mcp: { tool: search_spells }
      summary: List spells
      description: Spells in name order, one page at a time. Without a ruleset the 2024 rules lead the blend.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: q
          in: query
          description: Part of the spell name.
          schema: { type: string, minLength: 1, maxLength: 60 }
        - name: level
          in: query
          description: Spell level; 0 is a cantrip.
          schema: { type: integer, format: int32, minimum: 0, maximum: 9 }
        - name: school
          in: query
          description: Magic school slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - name: class
          in: query
          description: Class slug whose spell list to show.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of spells.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpellPage"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/spells/{slug}:
    get:
      operationId: getSpell
      x-mcp: { tool: get_spell }
      summary: Get a spell
      description: One spell with its rules text and the conditions it mentions.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: slug
          in: path
          required: true
          description: Spell slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
      responses:
        "200":
          description: The spell.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spell"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/entries:
    get:
      operationId: listEntries
      x-mcp: { tool: search_compendium }
      summary: List compendium entries
      description: Entries of one kind in name order, one page at a time. Without a ruleset the 2024 rules lead the blend.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: kind
          in: query
          required: true
          description: Which kind of entry to list.
          schema: { $ref: "#/components/schemas/EntryKind" }
        - name: q
          in: query
          description: Part of the entry name.
          schema: { type: string, minLength: 1, maxLength: 60 }
        - $ref: "#/components/parameters/Ruleset"
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of entries.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntryPage"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/entries/{kind}/{slug}:
    get:
      operationId: getEntry
      x-mcp: { tool: get_compendium_entry }
      summary: Get a compendium entry
      description: One entry rendered for reading, with the conditions its text mentions.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: kind
          in: path
          required: true
          description: Entry kind.
          schema: { $ref: "#/components/schemas/EntryKind" }
        - name: slug
          in: path
          required: true
          description: Entry slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
      responses:
        "200":
          description: The entry.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entry"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/automation:
    get:
      operationId: getAutomationCoverage
      x-mcp: { tool: get_automation_coverage }
      summary: Get automation coverage
      description: How many entries of each kind the rules engine computes fully, partly, or leaves to the DM.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: Counts per kind.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 40
                items:
                  $ref: "#/components/schemas/AutomationCount"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/builder:
    get:
      operationId: getBuilderOptions
      summary: Get character builder options
      description: Every class, species, background, armour and weapon a first-level character can choose in one ruleset.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: ruleset
          in: query
          required: true
          description: The ruleset to build in.
          schema: { $ref: "#/components/schemas/Ruleset" }
      responses:
        "200":
          description: The options.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuilderOptions"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/sources:
    get:
      operationId: listSources
      summary: List compendium sources
      description: The documents the compendium draws from, with the attribution each license requires.
      tags: [Compendium]
      responses:
        "200":
          description: Every source document.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: "#/components/schemas/Source"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns:
    get:
      operationId: listCampaigns
      x-mcp: { tool: list_campaigns }
      summary: List my campaigns
      description: The Campaigns the caller is a Member of, newest first.
      tags: [Campaign]
      parameters:
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of campaigns.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignPage"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createCampaign
      summary: Create a campaign
      description: Starts a Campaign with the caller as its first DM.
      tags: [Campaign]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignCreate"
      responses:
        "201":
          description: The new campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}:
    get:
      operationId: getCampaign
      x-mcp: { tool: get_campaign }
      summary: Get a campaign
      description: A Campaign's home with its settings, the caller's role and every Member. Members only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    patch:
      operationId: updateCampaign
      summary: Update a campaign
      description: Changes a Campaign's settings. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignUpdate"
      responses:
        "200":
          description: The updated campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignSummary"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/members/{memberId}:
    patch:
      operationId: updateMember
      summary: Change a member role
      description: Makes a Member a DM or a Player. DM only; the last DM cannot step down.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MemberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemberUpdate"
      responses:
        "200":
          description: The updated member.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: removeMember
      summary: Remove a member
      description: A DM removes a Member, or a Member leaves. The last DM cannot leave.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MemberId"
      responses:
        "204":
          description: Removed.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/invites:
    get:
      operationId: listInvites
      summary: List open invites
      description: Invite links that still work. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: Open invites.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 200
                items:
                  $ref: "#/components/schemas/Invite"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createInvite
      summary: Create an invite link
      description: Opens a link that adds whoever follows it as a Player. The token is shown only once. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "201":
          description: The invite and its token.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewInvite"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/invites/{inviteId}:
    delete:
      operationId: revokeInvite
      summary: Revoke an invite link
      description: Closes an invite link. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/InviteId"
      responses:
        "204":
          description: Revoked.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters:
    get:
      operationId: listCharacters
      x-mcp: { tool: list_characters }
      summary: List characters
      description: The party's Characters. Members only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The characters.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 200
                items:
                  $ref: "#/components/schemas/CharacterSummary"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createCharacter
      summary: Create a character
      description: Builds a first-level Character owned by the caller, validated against the campaign ruleset.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CharacterBuild"
      responses:
        "201":
          description: The new character.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/preview:
    post:
      operationId: previewCharacter
      summary: Preview a character
      description: Validates a build and returns the sheet it would make, without saving it.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CharacterBuild"
      responses:
        "200":
          description: The sheet.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}:
    get:
      operationId: getCharacter
      summary: Get a character sheet
      description: A Character's sheet. Members only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The sheet.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    patch:
      operationId: updateCharacter
      summary: Edit a character
      description: Out-of-combat changes by the owner or a DM; refused with 409 while the Character is in Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CharacterEdit"
      responses:
        "200":
          description: The updated sheet.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteCharacter
      summary: Delete a character
      description: Removes a Character. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/portrait:
    get:
      operationId: getPortrait
      summary: Get the portrait
      description: The picture itself, served only to Members of the Campaign.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The picture.
          headers:
            Cache-Control:
              description: Content-addressed, so private caches may keep it.
              schema: { type: string, maxLength: 100 }
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            image/png:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/jpeg:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/webp:
              schema: { type: string, format: binary, maxLength: 10485760 }
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    put:
      operationId: setPortrait
      summary: Upload the portrait
      description: A PNG, JPEG or WebP picture of at most 10 MB. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              maxLength: 10485760
      responses:
        "204":
          description: Stored.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/token:
    get:
      operationId: getTokenIcon
      summary: Get the token icon
      description: The picture itself, served only to Members of the Campaign.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The picture.
          headers:
            Cache-Control:
              description: Content-addressed, so private caches may keep it.
              schema: { type: string, maxLength: 100 }
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            image/png:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/jpeg:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/webp:
              schema: { type: string, format: binary, maxLength: 10485760 }
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    put:
      operationId: setTokenIcon
      summary: Upload the token icon
      description: A PNG, JPEG or WebP picture of at most 10 MB. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              maxLength: 10485760
      responses:
        "204":
          description: Stored.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: clearTokenIcon
      summary: Use initials for the token
      description: Removes the token icon so the token shows initials. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "204":
          description: Cleared.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-pools:
    get:
      operationId: listEncounterPools
      x-mcp: { tool: list_encounter_pools }
      summary: List Encounter Pools
      description: The Campaign's Encounter Pools. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The Encounter Pools.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/EncounterPool"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createEncounterPool
      x-mcp: { tool: create_encounter_pool, entity: encounter_pool }
      summary: Create an Encounter Pool
      description: Adds an Encounter Pool and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncounterPoolInput"
      responses:
        "201":
          description: The new Encounter Pool.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterPool"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-pools/{poolId}:
    put:
      operationId: updateEncounterPool
      x-mcp: { tool: update_encounter_pool, entity: encounter_pool, id: poolId }
      summary: Update an Encounter Pool
      description: Replaces the Encounter Pool and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/PoolId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncounterPoolInput"
      responses:
        "200":
          description: The Encounter Pool.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterPool"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteEncounterPool
      x-mcp: { tool: delete_encounter_pool, entity: encounter_pool, id: poolId }
      summary: Delete an Encounter Pool
      description: Removes the Encounter Pool; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/PoolId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-pools/{poolId}/revisions:
    get:
      operationId: listEncounterPoolRevisions
      x-mcp: { tool: list_encounter_pool_revisions }
      summary: List Encounter Pool revisions
      description: Every Revision of the Encounter Pool, newest first. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/PoolId"
      responses:
        "200":
          description: The Revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-pools/{poolId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreEncounterPoolRevision
      x-mcp: { tool: restore_encounter_pool_revision, entity: encounter_pool, id: poolId }
      summary: Restore an Encounter Pool revision
      description: Brings the Encounter Pool back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/PoolId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored Encounter Pool.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterPool"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-tables:
    get:
      operationId: listEncounterTables
      x-mcp: { tool: list_encounter_tables }
      summary: List Encounter Tables
      description: The Campaign's Encounter Tables. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The Encounter Tables.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/EncounterTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createEncounterTable
      x-mcp: { tool: create_encounter_table, entity: encounter_table }
      summary: Create an Encounter Table
      description: Adds an Encounter Table and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncounterTableInput"
      responses:
        "201":
          description: The new Encounter Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-tables/{tableId}:
    put:
      operationId: updateEncounterTable
      x-mcp: { tool: update_encounter_table, entity: encounter_table, id: tableId }
      summary: Update an Encounter Table
      description: Replaces the Encounter Table and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/TableId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncounterTableInput"
      responses:
        "200":
          description: The Encounter Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteEncounterTable
      x-mcp: { tool: delete_encounter_table, entity: encounter_table, id: tableId }
      summary: Delete an Encounter Table
      description: Removes the Encounter Table; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/TableId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-tables/{tableId}/revisions:
    get:
      operationId: listEncounterTableRevisions
      x-mcp: { tool: list_encounter_table_revisions }
      summary: List Encounter Table revisions
      description: Every Revision of the Encounter Table, newest first. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/TableId"
      responses:
        "200":
          description: The Revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-tables/{tableId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreEncounterTableRevision
      x-mcp: { tool: restore_encounter_table_revision, entity: encounter_table, id: tableId }
      summary: Restore an Encounter Table revision
      description: Brings the Encounter Table back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/TableId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored Encounter Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/loot-tables:
    get:
      operationId: listLootTables
      x-mcp: { tool: list_loot_tables }
      summary: List Loot Tables
      description: The Campaign's Loot Tables. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The Loot Tables.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/LootTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createLootTable
      x-mcp: { tool: create_loot_table, entity: loot_table }
      summary: Create a Loot Table
      description: Adds a Loot Table and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LootTableInput"
      responses:
        "201":
          description: The new Loot Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LootTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/loot-tables/{lootTableId}:
    put:
      operationId: updateLootTable
      x-mcp: { tool: update_loot_table, entity: loot_table, id: lootTableId }
      summary: Update a Loot Table
      description: Replaces the Loot Table and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/LootTableId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LootTableInput"
      responses:
        "200":
          description: The Loot Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LootTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteLootTable
      x-mcp: { tool: delete_loot_table, entity: loot_table, id: lootTableId }
      summary: Delete a Loot Table
      description: Removes the Loot Table; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/LootTableId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/loot-tables/{lootTableId}/revisions:
    get:
      operationId: listLootTableRevisions
      x-mcp: { tool: list_loot_table_revisions }
      summary: List Loot Table revisions
      description: Every Revision of the Loot Table, newest first. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/LootTableId"
      responses:
        "200":
          description: The Revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/loot-tables/{lootTableId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreLootTableRevision
      x-mcp: { tool: restore_loot_table_revision, entity: loot_table, id: lootTableId }
      summary: Restore a Loot Table revision
      description: Brings the Loot Table back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/LootTableId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored Loot Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LootTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/settlements:
    get:
      operationId: listSettlements
      x-mcp: { tool: list_settlements }
      summary: List Settlements
      description: The Campaign's Settlements. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The Settlements.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Settlement"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createSettlement
      x-mcp: { tool: create_settlement, entity: settlement }
      summary: Create a Settlement
      description: Adds a Settlement and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SettlementInput"
      responses:
        "201":
          description: The new Settlement.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settlement"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/settlements/{settlementId}:
    put:
      operationId: updateSettlement
      x-mcp: { tool: update_settlement, entity: settlement, id: settlementId }
      summary: Update a Settlement
      description: Replaces the Settlement and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SettlementId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SettlementInput"
      responses:
        "200":
          description: The Settlement.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settlement"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteSettlement
      x-mcp: { tool: delete_settlement, entity: settlement, id: settlementId }
      summary: Delete a Settlement
      description: Removes the Settlement; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SettlementId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/settlements/{settlementId}/revisions:
    get:
      operationId: listSettlementRevisions
      x-mcp: { tool: list_settlement_revisions }
      summary: List Settlement revisions
      description: Every Revision of the Settlement, newest first. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SettlementId"
      responses:
        "200":
          description: The Revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/settlements/{settlementId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreSettlementRevision
      x-mcp: { tool: restore_settlement_revision, entity: settlement, id: settlementId }
      summary: Restore a Settlement revision
      description: Brings the Settlement back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SettlementId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored Settlement.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settlement"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/shops:
    get:
      operationId: listShops
      x-mcp: { tool: list_shops }
      summary: List Shops
      description: The Campaign's Shops. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The Shops.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Shop"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createShop
      x-mcp: { tool: create_shop, entity: shop }
      summary: Create a Shop
      description: Adds a Shop and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShopInput"
      responses:
        "201":
          description: The new Shop.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shop"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/shops/{shopId}:
    put:
      operationId: updateShop
      x-mcp: { tool: update_shop, entity: shop, id: shopId }
      summary: Update a Shop
      description: Replaces the Shop and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/ShopId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShopInput"
      responses:
        "200":
          description: The Shop.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shop"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteShop
      x-mcp: { tool: delete_shop, entity: shop, id: shopId }
      summary: Delete a Shop
      description: Removes the Shop; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/ShopId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/shops/{shopId}/revisions:
    get:
      operationId: listShopRevisions
      x-mcp: { tool: list_shop_revisions }
      summary: List Shop revisions
      description: Every Revision of the Shop, newest first. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/ShopId"
      responses:
        "200":
          description: The Revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/shops/{shopId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreShopRevision
      x-mcp: { tool: restore_shop_revision, entity: shop, id: shopId }
      summary: Restore a Shop revision
      description: Brings the Shop back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/ShopId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored Shop.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shop"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/shops/{shopId}/stock:
    post:
      operationId: rerollStock
      x-mcp: { tool: reroll_stock, entity: shop, id: shopId }
      summary: Reroll Stock
      description: Generates the Shop's Stock afresh from its Loot Table, scaled by its Settlement, and records it as a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/ShopId"
      responses:
        "200":
          description: The restocked Shop.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shop"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/locations:
    get:
      operationId: listLocations
      x-mcp: { tool: list_locations }
      summary: List locations
      description: The places on the Campaign's world maps an Encounter Table can belong to. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The locations.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Location"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-checks:
    get:
      operationId: listEncounterChecks
      x-mcp: { tool: list_encounter_checks }
      summary: List Encounter Checks
      description: The Campaign's latest 100 Encounter Checks with their seeds and what they produced. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The checks.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/EncounterCheck"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs:
    get:
      operationId: listNpcs
      x-mcp: { tool: list_npcs }
      summary: List NPCs
      description: The Campaign's NPCs. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The NPCs.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createNpc
      x-mcp: { tool: create_npc, entity: npc }
      summary: Create an NPC
      description: Adds an NPC and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NpcInput"
      responses:
        "201":
          description: The new NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/deleted:
    get:
      operationId: listDeletedNpcs
      summary: List deleted NPCs
      description: NPCs that were deleted and can still be restored from their Revisions. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The deleted NPCs.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/DeletedNpc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}:
    get:
      operationId: getNpc
      x-mcp: { tool: get_npc }
      summary: Get an NPC
      description: One NPC. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      responses:
        "200":
          description: The NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    put:
      operationId: updateNpc
      x-mcp: { tool: update_npc, entity: npc, id: npcId }
      summary: Update an NPC
      description: Replaces the NPC and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NpcInput"
      responses:
        "200":
          description: The updated NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteNpc
      x-mcp: { tool: delete_npc, entity: npc, id: npcId }
      summary: Delete an NPC
      description: Removes the NPC; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}/revisions:
    get:
      operationId: listNpcRevisions
      x-mcp: { tool: list_npc_revisions }
      summary: List NPC revisions
      description: Every Revision of the NPC, newest first, with its author and origin. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      responses:
        "200":
          description: The revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}/revisions/diff:
    get:
      operationId: diffNpcRevisions
      summary: Compare two NPC revisions
      description: The fields that differ between two Revisions. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
        - name: from
          in: query
          required: true
          description: The earlier revision number.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100000 }
        - name: to
          in: query
          required: true
          description: The later revision number.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100000 }
      responses:
        "200":
          description: The changed fields.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/FieldChange"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreNpcRevision
      x-mcp: { tool: restore_npc_revision, entity: npc, id: npcId }
      summary: Restore an NPC revision
      description: Brings the NPC back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/activity:
    get:
      operationId: listActivity
      x-mcp: { tool: list_activity }
      summary: List AI activity
      description: The latest prep changes made through MCP, newest first, and whether each can still be undone. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The changes.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: "#/components/schemas/Activity"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/activity/{revisionId}/undo:
    post:
      operationId: undoChange
      x-mcp: { tool: undo_change }
      summary: Undo a change
      description: Undoes a prep change by its Revision id. A creation is deleted; anything else is restored to the Revision before it. Only an entity's latest change can be undone. The undo is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - name: revisionId
          in: path
          required: true
          description: The Revision to undo.
          schema: { $ref: "#/components/schemas/Id" }
      responses:
        "200":
          description: The Revision the undo recorded.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/rolls:
    get:
      operationId: listRolls
      summary: List roll requests
      description: Recent Roll Requests in the Campaign. Members only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - name: limit
          in: query
          description: How many to return, newest first.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 30 }
      responses:
        "200":
          description: The rolls.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: "#/components/schemas/RollRequest"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createRoll
      summary: Request a roll
      description: Opens a Roll Request for the caller, or, from a DM, for another Member.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RollCreate"
      responses:
        "201":
          description: The new request.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RollRequest"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/rolls/{rollId}:
    get:
      operationId: getRoll
      summary: Get a roll request
      description: One Roll Request with every die. Members only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/RollId"
      responses:
        "200":
          description: The request.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RollRequest"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/rolls/{rollId}/dice/{dieNo}:
    post:
      operationId: setDie
      summary: Roll or enter one die
      description: The server rolls the die from a logged seed, or takes the face read off a physical die. The roller or a DM; the last die resolves the request.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/RollId"
        - name: dieNo
          in: path
          required: true
          description: Which die, counting from 0.
          schema: { type: integer, format: int32, minimum: 0, maximum: 119 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DieFill"
      responses:
        "200":
          description: The request after the die.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RollRequest"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/rolls/{rollId}/rest:
    post:
      operationId: rollRest
      summary: Roll the rest
      description: The server rolls every die still empty. The roller or a DM.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/RollId"
      responses:
        "200":
          description: The resolved request.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RollRequest"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/log:
    get:
      operationId: getActionLog
      summary: Read the Action Log
      description: The Campaign's recent Actions with their seeds. DM only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - name: limit
          in: query
          description: How many to return, newest first.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 30 }
      responses:
        "200":
          description: The actions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: "#/components/schemas/ActionEntry"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/sessions:
    get:
      operationId: listSessions
      x-mcp: { tool: list_sessions }
      summary: List sessions
      description: The Campaign's Sessions, newest first. Members only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The sessions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 50
                items:
                  $ref: "#/components/schemas/PlaySession"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: startSession
      summary: Start a session
      description: Opens the next live Session. DM only. Live play then runs over the WebSocket at /api/v1/campaigns/{campaignId}/sessions/{sessionId}/live?audience=dm|party|table, whose messages are LiveCommand and LiveUpdate.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "201":
          description: The new session.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaySession"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/sessions/{sessionId}:
    get:
      operationId: getSession
      summary: Get a session
      description: One Session. Members only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: The session.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaySession"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/sessions/{sessionId}/view:
    get:
      operationId: getSessionView
      x-mcp: { tool: get_session_state }
      summary: See a live session
      description: What the caller may see of a live Session now; the DM sees everything. Members only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: The view.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveView"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/sessions/{sessionId}/log:
    get:
      operationId: getSessionLog
      x-mcp: { tool: get_session_log }
      summary: Read a session's Action Log
      description: The Session's latest Actions, newest first, and whether each can still be undone. DM only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SessionId"
        - name: limit
          in: query
          description: How many to return, newest first.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 30 }
      responses:
        "200":
          description: The actions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: "#/components/schemas/SessionAction"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/sessions/{sessionId}/commands:
    post:
      operationId: sendLiveCommand
      x-mcp:
        defaults: { nonce: mcp, q: 0, r: 0, hidden: false }
        tools:
          - tool: spawn_encounter
            kind: spawn_encounter
            fields: [monsters, q, r, hidden]
            required: [monsters]
            description: Places an encounter's monsters as enemy tokens on the free hexes nearest q, r, numbered when there are several. Undo it with undo_action to remove them all.
          - tool: place_token
            kind: place_token
            fields: [label, tokenKind, monsterSlug, characterId, controllerId, q, r, hidden, darkvisionFt]
            required: [tokenKind]
            description: Places one token. A monsterSlug or characterId gives it that creature's stats and name.
          - tool: move_token
            kind: move_token
            fields: [tokenId, q, r]
            required: [tokenId, q, r]
            description: Moves a token straight to a hex, without spending movement.
          - tool: reveal_area
            kind: reveal_hexes
            fields: [hexes, "on"]
            required: [hexes]
            defaults: { "on": true }
            description: Reveals hexes of the map to the party, or conceals them again with on set to false.
          - tool: apply_effect
            kind: apply_effect
            fields: [targetId, effect, effectName, sourceId, rounds, saveAbility, saveDc]
            required: [targetId, effect]
            description: Puts an Effect, such as a condition or a spell, on a token.
          - tool: end_effect
            kind: end_effect
            fields: [effectId]
            required: [effectId]
            description: Ends an Effect.
          - tool: adjust_hp
            kind: adjust_hp
            fields: [tokenId, hpDelta]
            required: [tokenId, hpDelta]
            description: Adds hit points to a creature, or takes them away with a negative hpDelta, within 0 and its maximum.
          - tool: run_encounter_check
            kind: encounter_check
            fields: [tableId, mode, entry]
            required: [tableId]
            defaults: { mode: normal }
            description: Runs an Encounter Check on an encounter table now; mode force guarantees an encounter and pick takes the entry you name.
          - tool: schedule_encounter_check
            kind: schedule_check
            fields: [tableId, due]
            required: [tableId, due]
            description: Schedules an Encounter Check for the next rest or the next Travel Leg.
          - tool: undo_action
            kind: undo
            fields: [seq]
            required: [seq]
            description: Undoes one Action of the Session by its Action Log sequence, as every live tool returns it.
      summary: Act in a live session
      description: Sends one command to a live Session as the caller, with the same authority as their live connection, and answers once the Session has applied it. Members only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LiveCommand"
      responses:
        "200":
          description: How the Session answered.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveCommandResult"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/sessions/{sessionId}/end:
    post:
      operationId: endSession
      summary: End a session
      description: Ends a live Session and disconnects everyone. DM only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: The ended session.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaySession"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/maps:
    get:
      operationId: listMaps
      summary: List maps
      description: The Campaign's local and world Maps. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The maps.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 500
                items:
                  $ref: "#/components/schemas/LocalMap"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: uploadMap
      summary: Upload a map
      description: A PNG, JPEG or WebP picture of at most 25 MB and 36 megapixels, with a default hex calibration. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - name: name
          in: query
          required: true
          description: The map's name.
          schema: { type: string, minLength: 1, maxLength: 80 }
        - name: kind
          in: query
          required: false
          description: Whether this is a local or a world map; local when left out.
          schema:
            $ref: "#/components/schemas/MapKind"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary, maxLength: 26214400 }
      responses:
        "201":
          description: The new map.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocalMap"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/maps/{mapId}:
    get:
      operationId: getMap
      summary: Get a map
      description: One Map with its calibration. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MapId"
      responses:
        "200":
          description: The map.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
[...]
