openapi: 3.1.0
info:
  title: Grimoire API
  version: 0.0.0
  summary: Self-hosted D&D 5e table companion.
  description: >-
    Hand-authored source of truth for the REST API, the live-session WebSocket messages
    (components only) and the MCP tool schemas. Generated code derives from this file.
  license:
    name: Attribution Assurance License
    identifier: AAL
  contact:
    name: Joris Jonkers
    url: https://jorisjonkers.dev
servers:
  - url: https://grimoire.jorisjonkers.dev
    description: Production
    x-internal: false
security:
  - forwardAuth: []
tags:
  - name: Campaign
    description: Campaigns, Members, roles and invites.
  - name: Compendium
    description: SRD reference data.
  - name: Identity
    description: The signed-in account.
  - name: Operations
    description: Liveness, readiness and service status.
paths:
  /api/v1/compendium/spells:
    get:
      operationId: listSpells
      summary: List spells
      description: Spells in name order, one page at a time. Without a ruleset the 2024 rules lead the blend.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: q
          in: query
          description: Part of the spell name.
          schema: { type: string, minLength: 1, maxLength: 60 }
        - name: level
          in: query
          description: Spell level; 0 is a cantrip.
          schema: { type: integer, format: int32, minimum: 0, maximum: 9 }
        - name: school
          in: query
          description: Magic school slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - name: class
          in: query
          description: Class slug whose spell list to show.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of spells.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpellPage"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/spells/{slug}:
    get:
      operationId: getSpell
      summary: Get a spell
      description: One spell with its rules text and the conditions it mentions.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: slug
          in: path
          required: true
          description: Spell slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
      responses:
        "200":
          description: The spell.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spell"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/entries:
    get:
      operationId: listEntries
      summary: List compendium entries
      description: Entries of one kind in name order, one page at a time. Without a ruleset the 2024 rules lead the blend.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: kind
          in: query
          required: true
          description: Which kind of entry to list.
          schema: { $ref: "#/components/schemas/EntryKind" }
        - name: q
          in: query
          description: Part of the entry name.
          schema: { type: string, minLength: 1, maxLength: 60 }
        - $ref: "#/components/parameters/Ruleset"
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of entries.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntryPage"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/entries/{kind}/{slug}:
    get:
      operationId: getEntry
      summary: Get a compendium entry
      description: One entry rendered for reading, with the conditions its text mentions.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: kind
          in: path
          required: true
          description: Entry kind.
          schema: { $ref: "#/components/schemas/EntryKind" }
        - name: slug
          in: path
          required: true
          description: Entry slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
      responses:
        "200":
          description: The entry.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entry"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/automation:
    get:
      operationId: getAutomationCoverage
      summary: Get automation coverage
      description: How many entries of each kind the rules engine computes fully, partly, or leaves to the DM.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: Counts per kind.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 40
                items:
                  $ref: "#/components/schemas/AutomationCount"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/sources:
    get:
      operationId: listSources
      summary: List compendium sources
      description: The documents the compendium draws from, with the attribution each license requires.
      tags: [Compendium]
      responses:
        "200":
          description: Every source document.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: "#/components/schemas/Source"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns:
    get:
      operationId: listCampaigns
      summary: List my campaigns
      description: The Campaigns the caller is a Member of, newest first.
      tags: [Campaign]
      parameters:
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of campaigns.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignPage"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createCampaign
      summary: Create a campaign
      description: Starts a Campaign with the caller as its first DM.
      tags: [Campaign]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignCreate"
      responses:
        "201":
          description: The new campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}:
    get:
      operationId: getCampaign
      summary: Get a campaign
      description: A Campaign's home with its settings, the caller's role and every Member. Members only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    patch:
      operationId: updateCampaign
      summary: Update a campaign
      description: Changes a Campaign's settings. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignUpdate"
      responses:
        "200":
          description: The updated campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignSummary"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/members/{memberId}:
    patch:
      operationId: updateMember
      summary: Change a member role
      description: Makes a Member a DM or a Player. DM only; the last DM cannot step down.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MemberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemberUpdate"
      responses:
        "200":
          description: The updated member.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: removeMember
      summary: Remove a member
      description: A DM removes a Member, or a Member leaves. The last DM cannot leave.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MemberId"
      responses:
        "204":
          description: Removed.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/invites:
    get:
      operationId: listInvites
      summary: List open invites
      description: Invite links that still work. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: Open invites.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 200
                items:
                  $ref: "#/components/schemas/Invite"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createInvite
      summary: Create an invite link
      description: Opens a link that adds whoever follows it as a Player. The token is shown only once. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "201":
          description: The invite and its token.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewInvite"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/invites/{inviteId}:
    delete:
      operationId: revokeInvite
      summary: Revoke an invite link
      description: Closes an invite link. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/InviteId"
      responses:
        "204":
          description: Revoked.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/invites/preview:
    post:
      operationId: previewInvite
      summary: Preview an invite
      description: Which Campaign an invite link leads to, before joining.
      tags: [Campaign]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteToken"
      responses:
        "200":
          description: The invite.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitePreview"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/invites/accept:
    post:
      operationId: acceptInvite
      summary: Accept an invite
      description: Joins the caller to the Campaign as a Player. A Member keeps their role.
      tags: [Campaign]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteAccept"
      responses:
        "200":
          description: The campaign joined.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignRef"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/me:
    get:
      operationId: getMe
      summary: Who am I
      description: Returns the identity the platform authenticated for this request.
      tags: [Identity]
      responses:
        "200":
          description: The signed-in account.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/status:
    get:
      operationId: getStatus
      summary: Service status
      description: Reports the running version and whether the database answers.
      tags: [Operations]
      responses:
        "200":
          description: The service status.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /healthz:
    get:
      operationId: getHealth
      summary: Liveness probe
      description: Returns ok while the process is serving requests.
      tags: [Operations]
      security: []
      responses:
        "200":
          description: The process is alive.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "4XX":
          $ref: "#/components/responses/Problem"
  /readyz:
    get:
      operationId: getReadiness
      summary: Readiness probe
      description: Returns ok once the API can serve traffic.
      tags: [Operations]
      security: []
      responses:
        "200":
          description: The API is ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
components:
  securitySchemes:
    forwardAuth:
      type: apiKey
      in: header
      name: X-User-Id
      description: Identity injected by the platform's forward-auth; never sent by clients directly.
  parameters:
    CampaignId:
      name: campaignId
      in: path
      required: true
      description: Campaign id.
      schema: { $ref: "#/components/schemas/Id" }
    MemberId:
      name: memberId
      in: path
      required: true
      description: Member id.
      schema: { $ref: "#/components/schemas/Id" }
    InviteId:
      name: inviteId
      in: path
      required: true
      description: Invite id.
      schema: { $ref: "#/components/schemas/Id" }
    IfNoneMatch:
      name: If-None-Match
      in: header
      description: ETag from an earlier response; the server answers 304 when nothing changed.
      schema: { type: string, maxLength: 100 }
    Ruleset:
      name: ruleset
      in: query
      description: Restrict to one ruleset; omitted, the 2024 rules lead.
      schema: { $ref: "#/components/schemas/Ruleset" }
  headers:
    ETag:
      description: Version of the compendium this response came from.
      schema: { type: string, maxLength: 100 }
    RateLimit-Limit:
      description: Requests allowed in the current window.
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 1000000
    RateLimit-Remaining:
      description: Requests left in the current window.
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 1000000
    RateLimit-Reset:
      description: Seconds until the window resets.
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 86400
  responses:
    Problem:
      description: An RFC 9457 problem.
      headers:
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimit-Limit"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimit-Remaining"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimit-Reset"
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    Id:
      type: string
      format: uuid
      description: Random identifier.
      maxLength: 36
    Role:
      type: string
      description: What a Member may do in a Campaign.
      enum: [dm, player]
    DisplayName:
      type: string
      description: How a Member appears to the rest of the table.
      minLength: 1
      maxLength: 60
    CampaignName:
      type: string
      description: A Campaign's name.
      minLength: 1
      maxLength: 80
    CampaignSummary:
      type: object
      description: A Campaign as it appears in the caller's list.
      additionalProperties: false
      required: [id, name, ruleset, myRole, memberCount, createdAt]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        name: { $ref: "#/components/schemas/CampaignName" }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
        myRole: { $ref: "#/components/schemas/Role" }
        memberCount: { type: integer, format: int32, minimum: 1, maximum: 1000 }
        createdAt: { type: string, format: date-time, maxLength: 40 }
    CampaignPage:
      type: object
      description: One page of campaigns.
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 100
          items: { $ref: "#/components/schemas/CampaignSummary" }
        nextCursor:
          type: string
          maxLength: 200
          pattern: "^[A-Za-z0-9_-]+$"
    Member:
      type: object
      description: An account's participation in a Campaign.
      additionalProperties: false
      required: [id, displayName, role, joinedAt, isMe]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        displayName: { $ref: "#/components/schemas/DisplayName" }
        role: { $ref: "#/components/schemas/Role" }
        joinedAt: { type: string, format: date-time, maxLength: 40 }
        isMe: { type: boolean }
    Campaign:
      type: object
      description: A Campaign's home.
      additionalProperties: false
      required: [id, name, ruleset, myRole, memberCount, createdAt, me, members]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        name: { $ref: "#/components/schemas/CampaignName" }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
        myRole: { $ref: "#/components/schemas/Role" }
        memberCount: { type: integer, format: int32, minimum: 1, maximum: 1000 }
        createdAt: { type: string, format: date-time, maxLength: 40 }
        me: { $ref: "#/components/schemas/Member" }
        members:
          type: array
          maxItems: 1000
          items: { $ref: "#/components/schemas/Member" }
    CampaignCreate:
      type: object
      description: A new Campaign.
      additionalProperties: false
      required: [name, displayName]
      properties:
        name: { $ref: "#/components/schemas/CampaignName" }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
        displayName: { $ref: "#/components/schemas/DisplayName" }
    CampaignUpdate:
      type: object
      description: Settings to change; omitted fields stay as they are.
      additionalProperties: false
      properties:
        name: { $ref: "#/components/schemas/CampaignName" }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
    CampaignRef:
      type: object
      description: A reference to a Campaign.
      additionalProperties: false
      required: [id]
      properties:
        id: { $ref: "#/components/schemas/Id" }
    MemberUpdate:
      type: object
      description: A Member's new role.
      additionalProperties: false
      required: [role]
      properties:
        role: { $ref: "#/components/schemas/Role" }
    Invite:
      type: object
      description: An open invite link.
      additionalProperties: false
      required: [id, createdAt, expiresAt, createdBy]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        createdAt: { type: string, format: date-time, maxLength: 40 }
        expiresAt: { type: string, format: date-time, maxLength: 40 }
        createdBy: { $ref: "#/components/schemas/DisplayName" }
    NewInvite:
      type: object
      description: A new invite and the token for its link, shown once.
      additionalProperties: false
      required: [id, createdAt, expiresAt, createdBy, token]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        createdAt: { type: string, format: date-time, maxLength: 40 }
        expiresAt: { type: string, format: date-time, maxLength: 40 }
        createdBy: { $ref: "#/components/schemas/DisplayName" }
        token: { $ref: "#/components/schemas/Token" }
    InvitePreview:
      type: object
      description: Where an invite link leads.
      additionalProperties: false
      required: [campaignName, invitedBy]
      properties:
        campaignName: { $ref: "#/components/schemas/CampaignName" }
        invitedBy: { $ref: "#/components/schemas/DisplayName" }
    Token:
      type: string
      description: An invite token, as it appears in the invite link.
      minLength: 43
      maxLength: 43
      pattern: "^[A-Za-z0-9_-]+$"
    InviteToken:
      type: object
      description: An invite token.
      additionalProperties: false
      required: [token]
      properties:
        token: { $ref: "#/components/schemas/Token" }
    InviteAccept:
      type: object
      description: The invite token and how the new Member wants to appear.
      additionalProperties: false
      required: [token, displayName]
      properties:
        token: { $ref: "#/components/schemas/Token" }
        displayName: { $ref: "#/components/schemas/DisplayName" }
    Slug:
      type: string
      description: Lower-case, hyphenated identifier.
      minLength: 1
      maxLength: 80
      pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
    Ruleset:
      type: string
      description: Rules document key.
      enum: [srd-2024, srd-2014]
    SpellSummary:
      type: object
      description: A spell as it appears in a list.
      additionalProperties: false
      required: [slug, name, level, school, ruleset, ritual, concentration]
      properties:
        slug: { $ref: "#/components/schemas/Slug" }
        name: { type: string, maxLength: 120 }
        level: { type: integer, format: int32, minimum: 0, maximum: 9 }
        school: { $ref: "#/components/schemas/Slug" }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
        ritual: { type: boolean }
        concentration: { type: boolean }
    SpellPage:
      type: object
      description: One page of spells.
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 100
          items: { $ref: "#/components/schemas/SpellSummary" }
        nextCursor:
          type: string
          maxLength: 200
          pattern: "^[A-Za-z0-9_-]+$"
    SpellScaling:
      type: object
      description: Damage at a higher slot or character level.
      additionalProperties: false
      required: [kind, level, damageRoll]
      properties:
        kind: { type: string, enum: [slot, character] }
        level: { type: integer, format: int32, minimum: 1, maximum: 20 }
        damageRoll: { type: string, maxLength: 40 }
    ConditionRef:
      type: object
      description: A condition named in rules text, with its own text for tooltips.
      additionalProperties: false
      required: [slug, name, description]
      properties:
        slug: { $ref: "#/components/schemas/Slug" }
        name: { type: string, maxLength: 60 }
        description: { type: string, maxLength: 4000 }
    Spell:
      type: object
      description: A spell with its full rules text.
      additionalProperties: false
      required: [slug, name, level, school, ruleset, ritual, concentration, castingTime, rangeText, verbal, somatic, material, duration, description, classes, damageTypes, attackRoll, scaling, mentions]
      properties:
        slug: { $ref: "#/components/schemas/Slug" }
        name: { type: string, maxLength: 120 }
        level: { type: integer, format: int32, minimum: 0, maximum: 9 }
        school: { $ref: "#/components/schemas/Slug" }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
        ritual: { type: boolean }
        concentration: { type: boolean }
        castingTime: { type: string, maxLength: 120 }
        rangeText: { type: string, maxLength: 120 }
        rangeFeet: { type: integer, format: int32, minimum: 0, maximum: 1000000 }
        verbal: { type: boolean }
        somatic: { type: boolean }
        material: { type: boolean }
        materialText: { type: string, maxLength: 500 }
        duration: { type: string, maxLength: 120 }
        description: { type: string, maxLength: 20000 }
        higherLevel: { type: string, maxLength: 4000 }
        classes:
          type: array
          maxItems: 20
          items: { $ref: "#/components/schemas/Slug" }
        damageTypes:
          type: array
          maxItems: 20
          items: { $ref: "#/components/schemas/Slug" }
        saveAbility: { $ref: "#/components/schemas/Slug" }
        attackRoll: { type: boolean }
        damageRoll: { type: string, maxLength: 40 }
        scaling:
          type: array
          maxItems: 40
          items: { $ref: "#/components/schemas/SpellScaling" }
        mentions:
          type: array
          maxItems: 40
          items: { $ref: "#/components/schemas/ConditionRef" }
    EntryKind:
      type: string
      description: A kind of compendium entry other than a spell.
      enum: [class, species, background, feat, weapon, armor, item, magic-item, monster, condition]
    EntrySummary:
      type: object
      description: An entry as it appears in a list.
      additionalProperties: false
      required: [kind, slug, name, subtitle, ruleset]
      properties:
        kind: { $ref: "#/components/schemas/EntryKind" }
        slug: { $ref: "#/components/schemas/Slug" }
        name: { type: string, maxLength: 120 }
        subtitle: { type: string, maxLength: 120 }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
    EntryPage:
      type: object
      description: One page of entries.
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 100
          items: { $ref: "#/components/schemas/EntrySummary" }
        nextCursor:
          type: string
          maxLength: 200
          pattern: "^[A-Za-z0-9_-]+$"
    EntryFact:
      type: object
      description: A labelled value in an entry's header.
      additionalProperties: false
      required: [label, value]
      properties:
        label: { type: string, maxLength: 60 }
        value: { type: string, maxLength: 500 }
    EntrySection:
      type: object
      description: A titled block of rules text.
      additionalProperties: false
      required: [title, text]
      properties:
        title: { type: string, maxLength: 200 }
        text: { type: string, maxLength: 20000 }
    Entry:
      type: object
      description: An entry rendered for reading.
      additionalProperties: false
      required: [kind, slug, name, subtitle, ruleset, facts, sections, mentions]
      properties:
        kind: { $ref: "#/components/schemas/EntryKind" }
        slug: { $ref: "#/components/schemas/Slug" }
        name: { type: string, maxLength: 120 }
        subtitle: { type: string, maxLength: 120 }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
        facts:
          type: array
          maxItems: 40
          items: { $ref: "#/components/schemas/EntryFact" }
        sections:
          type: array
          maxItems: 200
          items: { $ref: "#/components/schemas/EntrySection" }
        mentions:
          type: array
          maxItems: 40
          items: { $ref: "#/components/schemas/ConditionRef" }
    AutomationCount:
      type: object
      description: Entries of one kind by Automation Level.
      additionalProperties: false
      required: [kind, total, full, partial, manual]
      properties:
        kind: { type: string, enum: [spell, class, species, background, feat, weapon, armor, item, magic-item, monster, condition] }
        total: { type: integer, format: int32, minimum: 0, maximum: 1000000 }
        full: { type: integer, format: int32, minimum: 0, maximum: 1000000 }
        partial: { type: integer, format: int32, minimum: 0, maximum: 1000000 }
        manual: { type: integer, format: int32, minimum: 0, maximum: 1000000 }
    Source:
      type: object
      description: A source document and its required attribution.
      additionalProperties: false
      required: [key, title, rulesetYear, license, attribution, url]
      properties:
        key: { type: string, maxLength: 40 }
        title: { type: string, maxLength: 200 }
        rulesetYear: { type: integer, format: int32, minimum: 2000, maximum: 2100 }
        license: { type: string, maxLength: 40 }
        attribution: { type: string, maxLength: 2000 }
        url: { type: string, pattern: "^https://", maxLength: 500 }
    Me:
      type: object
      description: The authenticated account.
      additionalProperties: false
      required: [subject]
      properties:
        subject:
          type: string
          description: Stable account id from the platform's identity provider.
          minLength: 1
          maxLength: 128
          pattern: "^[^\\s]+$"
      examples:
        - subject: 5b1c6f2e-9c1d-4f0e-a2a7-2d8e4a9f1b3c
    Status:
      type: object
      description: Service status.
      additionalProperties: false
      required: [service, version, database, startedAt]
      properties:
        service:
          type: string
          const: grimoire
        version:
          type: string
          maxLength: 64
          pattern: "^[0-9A-Za-z.+-]+$"
        database:
          type: string
          enum: [up]
        startedAt:
          type: string
          format: date-time
          maxLength: 40
      examples:
        - service: grimoire
          version: 0.1.0
          database: up
          startedAt: "2026-09-29T20:00:00Z"
    HealthStatus:
      type: object
      description: Probe result.
      additionalProperties: false
      examples:
        - status: ok
      required: [status]
      properties:
        status:
          type: string
          const: ok
    Problem:
      type: object
      description: RFC 9457 problem details.
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri-reference
          maxLength: 500
        title:
          type: string
          maxLength: 200
        status:
          type: integer
          format: int32
          minimum: 400
          maximum: 599
        detail:
          type: string
          maxLength: 2000
        instance:
          type: string
          format: uri-reference
          maxLength: 500
