openapi: 3.1.0
info:
  title: Grimoire API
  version: 0.0.0
  summary: Self-hosted D&D 5e table companion.
  description: >-
    Hand-authored source of truth for the REST API, the live-session WebSocket messages
    (components only) and the MCP tool schemas. Generated code derives from this file.
  license:
    name: Attribution Assurance License
    identifier: AAL
  contact:
    name: Joris Jonkers
    url: https://jorisjonkers.dev
servers:
  - url: https://grimoire.jorisjonkers.dev
    description: Production
    x-internal: false
security:
  - forwardAuth: []
tags:
  - name: Campaign
    description: Campaigns, Members, roles and invites.
  - name: Compendium
    description: SRD reference data.
  - name: Play
    description: Rolls and the Action Log.
  - name: Prep
    description: The DM's prepared material and its Revisions.
  - name: Rules
    description: Non-mutating rules previews.
  - name: Identity
    description: The signed-in account.
  - name: Social
    description: Friends, Conversations and Notifications between Accounts.
  - name: Library
    description: An account's reusable entries, linked into Campaigns with Campaign Overrides and pinned Revisions.
  - name: Operations
    description: Liveness, readiness and service status.
paths:
  /api/v1/compendium/spells:
    get:
      operationId: listSpells
      x-ogen-operation-group: Read
      x-mcp: { tool: search_spells }
      summary: List spells
      description: Spells in name order, one page at a time. Without a ruleset the 2024 rules lead the blend.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: q
          in: query
          description: Part of the spell name.
          schema: { type: string, minLength: 1, maxLength: 60 }
        - name: level
          in: query
          description: Spell level; 0 is a cantrip.
          schema: { type: integer, format: int32, minimum: 0, maximum: 9 }
        - name: school
          in: query
          description: Magic school slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - name: class
          in: query
          description: Class slug whose spell list to show.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of spells.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpellPage"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/spells/{slug}:
    get:
      operationId: getSpell
      x-ogen-operation-group: Read
      x-mcp: { tool: get_spell }
      summary: Get a spell
      description: One spell with its rules text and the conditions it mentions.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: slug
          in: path
          required: true
          description: Spell slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
      responses:
        "200":
          description: The spell.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spell"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/entries:
    get:
      operationId: listEntries
      x-ogen-operation-group: Read
      x-mcp: { tool: search_compendium }
      summary: List compendium entries
      description: Entries of one kind in name order, one page at a time. Without a ruleset the 2024 rules lead the blend.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: kind
          in: query
          required: true
          description: Which kind of entry to list.
          schema: { $ref: "#/components/schemas/EntryKind" }
        - name: q
          in: query
          description: Part of the entry name.
          schema: { type: string, minLength: 1, maxLength: 60 }
        - $ref: "#/components/parameters/Ruleset"
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of entries.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntryPage"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/entries/{kind}/{slug}:
    get:
      operationId: getEntry
      x-ogen-operation-group: Read
      x-mcp: { tool: get_compendium_entry }
      summary: Get a compendium entry
      description: One entry rendered for reading, with the conditions its text mentions.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: kind
          in: path
          required: true
          description: Entry kind.
          schema: { $ref: "#/components/schemas/EntryKind" }
        - name: slug
          in: path
          required: true
          description: Entry slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
      responses:
        "200":
          description: The entry.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entry"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/automation:
    get:
      operationId: getAutomationCoverage
      x-ogen-operation-group: Read
      x-mcp: { tool: get_automation_coverage }
      summary: Get automation coverage
      description: How many entries of each kind the rules engine computes fully, partly, or leaves to the DM.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: Counts per kind.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 40
                items:
                  $ref: "#/components/schemas/AutomationCount"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/builder:
    get:
      operationId: getBuilderOptions
      x-ogen-operation-group: Read
      summary: Get character builder options
      description: Every class, species, background, armour and weapon a first-level character can choose in one ruleset.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: ruleset
          in: query
          required: true
          description: The ruleset to build in.
          schema: { $ref: "#/components/schemas/Ruleset" }
      responses:
        "200":
          description: The options.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuilderOptions"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/sources:
    get:
      operationId: listSources
      x-ogen-operation-group: Read
      summary: List compendium sources
      description: The documents the compendium draws from, with the attribution each license requires.
      tags: [Compendium]
      responses:
        "200":
          description: Every source document.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: "#/components/schemas/Source"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns:
    get:
      operationId: listCampaigns
      x-ogen-operation-group: Read
      x-mcp: { tool: list_campaigns }
      summary: List my campaigns
      description: The Campaigns the caller is a Member of, newest first.
      tags: [Campaign]
      parameters:
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of campaigns.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignPage"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createCampaign
      x-ogen-operation-group: Build
      summary: Create a campaign
      description: Starts a Campaign with the caller as its first DM.
      tags: [Campaign]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignCreate"
      responses:
        "201":
          description: The new campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}:
    get:
      operationId: getCampaign
      x-ogen-operation-group: Read
      x-mcp: { tool: get_campaign }
      summary: Get a campaign
      description: A Campaign's home with its settings, the caller's role and every Member. Members only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    patch:
      operationId: updateCampaign
      x-ogen-operation-group: Build
      summary: Update a campaign
      description: Changes a Campaign's settings. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignUpdate"
      responses:
        "200":
          description: The updated campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignSummary"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/members/{memberId}:
    patch:
      operationId: updateMember
      x-ogen-operation-group: Build
      summary: Change a member role
      description: Makes a Member a DM or a Player. DM only; the last DM cannot step down.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MemberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemberUpdate"
      responses:
        "200":
          description: The updated member.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: removeMember
      x-ogen-operation-group: Build
      summary: Remove a member
      description: A DM removes a Member, or a Member leaves. The last DM cannot leave.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MemberId"
      responses:
        "204":
          description: Removed.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/invites:
    get:
      operationId: listInvites
      x-ogen-operation-group: Read
      summary: List open invites
      description: Invite links that still work. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: Open invites.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 200
                items:
                  $ref: "#/components/schemas/Invite"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createInvite
      x-ogen-operation-group: Build
      summary: Create an invite link
      description: Opens a link that adds whoever follows it as a Player. The token is shown only once. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "201":
          description: The invite and its token.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewInvite"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/invites/{inviteId}:
    delete:
      operationId: revokeInvite
      x-ogen-operation-group: Build
      summary: Revoke an invite link
      description: Closes an invite link. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/InviteId"
      responses:
        "204":
          description: Revoked.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters:
    get:
      operationId: listCharacters
      x-ogen-operation-group: Read
      x-mcp: { tool: list_characters }
      summary: List characters
      description: The party's Characters. Members only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The characters.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 200
                items:
                  $ref: "#/components/schemas/CharacterSummary"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createCharacter
      x-ogen-operation-group: Build
      summary: Create a character
      description: Builds a first-level Character owned by the caller, validated against the campaign ruleset.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CharacterBuild"
      responses:
        "201":
          description: The new character.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/preview:
    post:
      operationId: previewCharacter
      x-ogen-operation-group: Build
      summary: Preview a character
      description: Validates a build and returns the sheet it would make, without saving it.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CharacterBuild"
      responses:
        "200":
          description: The sheet.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}:
    get:
      operationId: getCharacter
      x-ogen-operation-group: Read
      summary: Get a character sheet
      description: A Character's sheet. Members only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The sheet.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    patch:
      operationId: updateCharacter
      x-ogen-operation-group: Build
      summary: Edit a character
      description: Out-of-combat changes by the owner or a DM; refused with 409 while the Character is in Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CharacterEdit"
      responses:
        "200":
          description: The updated sheet.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteCharacter
      x-ogen-operation-group: Build
      summary: Delete a character
      description: Removes a Character. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/level-up:
    get:
      operationId: planLevelUp
      x-ogen-operation-group: Read
      summary: See what the next level offers
      description: The classes the next level can go to and, for one of them, its hit points, choices and spells. The owner or a DM, out of combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
        - name: class
          in: query
          required: false
          description: The class to level in; the starting class when omitted.
          schema: { $ref: "#/components/schemas/Slug" }
      responses:
        "200":
          description: What the next level offers.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LevelUpPlan"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: levelUp
      x-ogen-operation-group: Build
      summary: Take the next level
      description: Takes the unlocked next level with its choices, multiclassing when the prerequisites hold.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LevelUpRequest"
      responses:
        "200":
          description: The sheet at the new level.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/spells:
    get:
      operationId: getSpellcasting
      x-ogen-operation-group: Read
      summary: Read a Character's spells
      description: Cantrips, prepared and always-prepared spells per class, a wizard's spellbook, coins and the Game Clock.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The spells.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spellcasting"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/spells/prepared:
    put:
      operationId: prepareSpells
      x-ogen-operation-group: Build
      summary: Prepare spells
      description: Sets the spells prepared through one class within its limit, after a long rest or a new level.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpellPreparation"
      responses:
        "200":
          description: The spells.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spellcasting"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/spells/rituals:
    post:
      operationId: castRitual
      x-ogen-operation-group: Play
      summary: Cast a ritual
      description: Casts a prepared ritual spell out of combat without a slot, adding its casting time and 10 minutes to the Game Clock.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpellChoice"
      responses:
        "200":
          description: The ritual and the Game Clock after it.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RitualCast"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/spellbook:
    post:
      operationId: copySpell
      x-ogen-operation-group: Build
      summary: Copy a spell into the spellbook
      description: Writes a wizard spell into the spellbook, free up to the book's allotment, otherwise for 50 gp and 2 hours per spell level.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpellChoice"
      responses:
        "200":
          description: The spells.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spellcasting"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/retrains:
    get:
      operationId: listRetrains
      x-ogen-operation-group: Read
      summary: List retrains
      description: A Character's retrain requests, newest first. Its owner or a DM.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The retrains.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 200
                items:
                  $ref: "#/components/schemas/Retrain"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: requestRetrain
      x-ogen-operation-group: Build
      summary: Ask to retrain a Character
      description: "Proposes a rebuilt build for the DM to approve (origin, ability scores, class skills, new values for each level's picks, and Ability Score Improvements). The owner only."
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetrainRequest"
      responses:
        "201":
          description: The pending retrain.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Retrain"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/retrains/choices:
    get:
      operationId: listRetrainChoices
      x-ogen-operation-group: Read
      summary: List the picks a retrain can change
      description: Each pick the Character made on a level, with the options it could take instead. The owner only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The picks.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: "#/components/schemas/RetrainChoice"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/revisions:
    get:
      operationId: listCharacterRevisions
      x-ogen-operation-group: Read
      summary: List a Character's Revisions
      description: The builds approved retrains replaced, newest first. Its owner or a DM.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The Revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 200
                items:
                  $ref: "#/components/schemas/CharacterRevisionLine"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/retrains/{retrainId}/approve:
    post:
      operationId: approveRetrain
      x-ogen-operation-group: Build
      summary: Approve a retrain
      description: Checks the build again, keeps the old one as a Revision and rebuilds the Character. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/RetrainId"
      responses:
        "200":
          description: The approved retrain.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Retrain"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/retrains/{retrainId}/decline:
    post:
      operationId: declineRetrain
      x-ogen-operation-group: Build
      summary: Decline a retrain
      description: Declines a pending retrain. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/RetrainId"
      responses:
        "200":
          description: The declined retrain.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Retrain"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/inventory:
    get:
      operationId: getInventory
      x-ogen-operation-group: Read
      summary: Read a Character's Inventory
      description: "Equipment slots, the bag, weight against carrying capacity, and the Party Stash. Its player or a DM."
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The Inventory.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryView"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/inventory/move:
    post:
      operationId: moveItem
      x-ogen-operation-group: Play
      summary: Move an item
      description: "Puts an item in a slot, back in the bag, with another Character or in the Party Stash. Not during a live Session."
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InventoryMove"
      responses:
        "200":
          description: The Inventory after the move.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryView"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/inventory/swap:
    post:
      operationId: swapWeaponSet
      x-ogen-operation-group: Play
      summary: Swap weapon sets
      description: "Changes the weapon set in hand between melee and ranged outside a fight. In a live Session the swap is a command that pays the 2024 equip rules."
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The Inventory with the other set in hand.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryView"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/inventory/take:
    post:
      operationId: takeFromStash
      x-ogen-operation-group: Play
      summary: Take from the Party Stash
      description: "Moves an item from the Party Stash into the Character's bag. Not during a live Session."
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InventoryTake"
      responses:
        "200":
          description: The Inventory after taking it.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryView"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/inventory/use:
    post:
      operationId: useItem
      x-ogen-operation-group: Play
      summary: Drink or throw an item
      description: "Drinks a potion, throws an item away, attunes or unattunes it (three at most), identifies it, or spends its charges. Not during a live Session."
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InventoryUse"
      responses:
        "200":
          description: The Inventory, and the hit points restored.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryUseResult"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/portrait:
    get:
      operationId: getPortrait
      x-ogen-operation-group: Read
      summary: Get the portrait
      description: The picture itself, served only to Members of the Campaign.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The picture.
          headers:
            Cache-Control:
              description: Content-addressed, so private caches may keep it.
              schema: { type: string, maxLength: 100 }
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            image/png:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/jpeg:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/webp:
              schema: { type: string, format: binary, maxLength: 10485760 }
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    put:
      operationId: setPortrait
      x-ogen-operation-group: Build
      summary: Upload the portrait
      description: A PNG, JPEG or WebP picture of at most 10 MB. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              maxLength: 10485760
      responses:
        "204":
          description: Stored.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/token:
    get:
      operationId: getTokenIcon
      x-ogen-operation-group: Read
      summary: Get the token icon
      description: The picture itself, served only to Members of the Campaign.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The picture.
          headers:
            Cache-Control:
              description: Content-addressed, so private caches may keep it.
              schema: { type: string, maxLength: 100 }
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            image/png:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/jpeg:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/webp:
              schema: { type: string, format: binary, maxLength: 10485760 }
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    put:
      operationId: setTokenIcon
      x-ogen-operation-group: Build
      summary: Upload the token icon
      description: A PNG, JPEG or WebP picture of at most 10 MB. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              maxLength: 10485760
      responses:
        "204":
          description: Stored.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: clearTokenIcon
      x-ogen-operation-group: Build
      summary: Use initials for the token
      description: Removes the token icon so the token shows initials. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "204":
          description: Cleared.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-pools:
    get:
      operationId: listEncounterPools
      x-ogen-operation-group: Read
      x-mcp: { tool: list_encounter_pools }
      summary: List Encounter Pools
      description: The Campaign's Encounter Pools. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The Encounter Pools.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/EncounterPool"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createEncounterPool
      x-ogen-operation-group: Build
      x-mcp: { tool: create_encounter_pool, entity: encounter_pool }
      summary: Create an Encounter Pool
      description: Adds an Encounter Pool and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncounterPoolInput"
      responses:
        "201":
          description: The new Encounter Pool.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterPool"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-pools/{poolId}:
    put:
      operationId: updateEncounterPool
      x-ogen-operation-group: Build
      x-mcp: { tool: update_encounter_pool, entity: encounter_pool, id: poolId }
      summary: Update an Encounter Pool
      description: Replaces the Encounter Pool and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/PoolId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncounterPoolInput"
      responses:
        "200":
          description: The Encounter Pool.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterPool"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteEncounterPool
      x-ogen-operation-group: Build
      x-mcp: { tool: delete_encounter_pool, entity: encounter_pool, id: poolId }
      summary: Delete an Encounter Pool
      description: Removes the Encounter Pool; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/PoolId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-pools/{poolId}/revisions:
    get:
      operationId: listEncounterPoolRevisions
      x-ogen-operation-group: Read
      x-mcp: { tool: list_encounter_pool_revisions }
      summary: List Encounter Pool revisions
      description: Every Revision of the Encounter Pool, newest first. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/PoolId"
      responses:
        "200":
          description: The Revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-pools/{poolId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreEncounterPoolRevision
      x-ogen-operation-group: Build
      x-mcp: { tool: restore_encounter_pool_revision, entity: encounter_pool, id: poolId }
      summary: Restore an Encounter Pool revision
      description: Brings the Encounter Pool back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/PoolId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored Encounter Pool.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterPool"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-tables:
    get:
      operationId: listEncounterTables
      x-ogen-operation-group: Read
      x-mcp: { tool: list_encounter_tables }
      summary: List Encounter Tables
      description: The Campaign's Encounter Tables. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The Encounter Tables.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/EncounterTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createEncounterTable
      x-ogen-operation-group: Build
      x-mcp: { tool: create_encounter_table, entity: encounter_table }
      summary: Create an Encounter Table
      description: Adds an Encounter Table and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncounterTableInput"
      responses:
        "201":
          description: The new Encounter Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-tables/{tableId}:
    put:
      operationId: updateEncounterTable
      x-ogen-operation-group: Build
      x-mcp: { tool: update_encounter_table, entity: encounter_table, id: tableId }
      summary: Update an Encounter Table
      description: Replaces the Encounter Table and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/TableId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncounterTableInput"
      responses:
        "200":
          description: The Encounter Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteEncounterTable
      x-ogen-operation-group: Build
      x-mcp: { tool: delete_encounter_table, entity: encounter_table, id: tableId }
      summary: Delete an Encounter Table
      description: Removes the Encounter Table; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/TableId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-tables/{tableId}/revisions:
    get:
      operationId: listEncounterTableRevisions
      x-ogen-operation-group: Read
      x-mcp: { tool: list_encounter_table_revisions }
      summary: List Encounter Table revisions
      description: Every Revision of the Encounter Table, newest first. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/TableId"
      responses:
        "200":
          description: The Revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-tables/{tableId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreEncounterTableRevision
      x-ogen-operation-group: Build
      x-mcp: { tool: restore_encounter_table_revision, entity: encounter_table, id: tableId }
      summary: Restore an Encounter Table revision
      description: Brings the Encounter Table back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/TableId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored Encounter Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/loot-tables:
    get:
      operationId: listLootTables
      x-ogen-operation-group: Read
      x-mcp: { tool: list_loot_tables }
      summary: List Loot Tables
      description: The Campaign's Loot Tables. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The Loot Tables.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/LootTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createLootTable
      x-ogen-operation-group: Build
      x-mcp: { tool: create_loot_table, entity: loot_table }
      summary: Create a Loot Table
      description: Adds a Loot Table and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LootTableInput"
      responses:
        "201":
          description: The new Loot Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LootTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/loot-tables/{lootTableId}:
    put:
      operationId: updateLootTable
      x-ogen-operation-group: Build
      x-mcp: { tool: update_loot_table, entity: loot_table, id: lootTableId }
      summary: Update a Loot Table
      description: Replaces the Loot Table and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/LootTableId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LootTableInput"
      responses:
        "200":
          description: The Loot Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LootTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteLootTable
      x-ogen-operation-group: Build
      x-mcp: { tool: delete_loot_table, entity: loot_table, id: lootTableId }
      summary: Delete a Loot Table
      description: Removes the Loot Table; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/LootTableId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/loot-tables/{lootTableId}/revisions:
    get:
      operationId: listLootTableRevisions
      x-ogen-operation-group: Read
      x-mcp: { tool: list_loot_table_revisions }
      summary: List Loot Table revisions
      description: Every Revision of the Loot Table, newest first. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/LootTableId"
      responses:
        "200":
          description: The Revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/loot-tables/{lootTableId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreLootTableRevision
      x-ogen-operation-group: Build
      x-mcp: { tool: restore_loot_table_revision, entity: loot_table, id: lootTableId }
      summary: Restore a Loot Table revision
      description: Brings the Loot Table back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/LootTableId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored Loot Table.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LootTable"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/settlements:
    get:
      operationId: listSettlements
      x-ogen-operation-group: Read
      x-mcp: { tool: list_settlements }
      summary: List Settlements
      description: The Campaign's Settlements. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The Settlements.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Settlement"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createSettlement
      x-ogen-operation-group: Build
      x-mcp: { tool: create_settlement, entity: settlement }
      summary: Create a Settlement
      description: Adds a Settlement and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SettlementInput"
      responses:
        "201":
          description: The new Settlement.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settlement"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/settlements/{settlementId}:
    put:
      operationId: updateSettlement
      x-ogen-operation-group: Build
      x-mcp: { tool: update_settlement, entity: settlement, id: settlementId }
      summary: Update a Settlement
      description: Replaces the Settlement and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SettlementId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SettlementInput"
      responses:
        "200":
          description: The Settlement.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settlement"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteSettlement
      x-ogen-operation-group: Build
      x-mcp: { tool: delete_settlement, entity: settlement, id: settlementId }
      summary: Delete a Settlement
      description: Removes the Settlement; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SettlementId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/settlements/{settlementId}/revisions:
    get:
      operationId: listSettlementRevisions
      x-ogen-operation-group: Read
      x-mcp: { tool: list_settlement_revisions }
      summary: List Settlement revisions
      description: Every Revision of the Settlement, newest first. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SettlementId"
      responses:
        "200":
          description: The Revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/settlements/{settlementId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreSettlementRevision
      x-ogen-operation-group: Build
      x-mcp: { tool: restore_settlement_revision, entity: settlement, id: settlementId }
      summary: Restore a Settlement revision
      description: Brings the Settlement back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SettlementId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored Settlement.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settlement"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/shops:
    get:
      operationId: listShops
      x-ogen-operation-group: Read
      x-mcp: { tool: list_shops }
      summary: List Shops
      description: The Campaign's Shops. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The Shops.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Shop"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createShop
      x-ogen-operation-group: Build
      x-mcp: { tool: create_shop, entity: shop }
      summary: Create a Shop
      description: Adds a Shop and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShopInput"
      responses:
        "201":
          description: The new Shop.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shop"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/shops/{shopId}:
    put:
      operationId: updateShop
      x-ogen-operation-group: Build
      x-mcp: { tool: update_shop, entity: shop, id: shopId }
      summary: Update a Shop
      description: Replaces the Shop and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/ShopId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShopInput"
      responses:
        "200":
          description: The Shop.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shop"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteShop
      x-ogen-operation-group: Build
      x-mcp: { tool: delete_shop, entity: shop, id: shopId }
      summary: Delete a Shop
      description: Removes the Shop; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/ShopId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/shops/{shopId}/revisions:
    get:
      operationId: listShopRevisions
      x-ogen-operation-group: Read
      x-mcp: { tool: list_shop_revisions }
      summary: List Shop revisions
      description: Every Revision of the Shop, newest first. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/ShopId"
      responses:
        "200":
          description: The Revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/shops/{shopId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreShopRevision
      x-ogen-operation-group: Build
      x-mcp: { tool: restore_shop_revision, entity: shop, id: shopId }
      summary: Restore a Shop revision
      description: Brings the Shop back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/ShopId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored Shop.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shop"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/shops/{shopId}/stock:
    post:
      operationId: rerollStock
      x-ogen-operation-group: Build
      x-mcp: { tool: reroll_stock, entity: shop, id: shopId }
      summary: Reroll Stock
      description: Generates the Shop's Stock afresh from its Loot Table, scaled by its Settlement, and records it as a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/ShopId"
      responses:
        "200":
          description: The restocked Shop.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shop"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/locations:
    get:
      operationId: listLocations
      x-ogen-operation-group: Read
      x-mcp: { tool: list_locations }
      summary: List locations
      description: The places on the Campaign's world maps an Encounter Table can belong to. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The locations.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Location"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/encounter-checks:
    get:
      operationId: listEncounterChecks
      x-ogen-operation-group: Read
      x-mcp: { tool: list_encounter_checks }
      summary: List Encounter Checks
      description: The Campaign's latest 100 Encounter Checks with their seeds and what they produced. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The checks.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/EncounterCheck"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs:
    get:
      operationId: listNpcs
      x-ogen-operation-group: Read
      x-mcp: { tool: list_npcs }
      summary: List NPCs
      description: The Campaign's NPCs. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The NPCs.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createNpc
      x-ogen-operation-group: Build
      x-mcp: { tool: create_npc, entity: npc }
      summary: Create an NPC
      description: Adds an NPC and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NpcInput"
      responses:
        "201":
          description: The new NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/deleted:
    get:
      operationId: listDeletedNpcs
      x-ogen-operation-group: Read
      summary: List deleted NPCs
      description: NPCs that were deleted and can still be restored from their Revisions. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The deleted NPCs.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/DeletedNpc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}:
    get:
      operationId: getNpc
      x-ogen-operation-group: Read
      x-mcp: { tool: get_npc }
      summary: Get an NPC
      description: One NPC. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      responses:
        "200":
          description: The NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    put:
      operationId: updateNpc
      x-ogen-operation-group: Build
      x-mcp: { tool: update_npc, entity: npc, id: npcId }
      summary: Update an NPC
      description: Replaces the NPC and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NpcInput"
      responses:
        "200":
          description: The updated NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteNpc
      x-ogen-operation-group: Build
      x-mcp: { tool: delete_npc, entity: npc, id: npcId }
      summary: Delete an NPC
      description: Removes the NPC; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}/revisions:
    get:
      operationId: listNpcRevisions
      x-ogen-operation-group: Read
      x-mcp: { tool: list_npc_revisions }
      summary: List NPC revisions
      description: Every Revision of the NPC, newest first, with its author and origin. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      responses:
        "200":
          description: The revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}/revisions/diff:
    get:
      operationId: diffNpcRevisions
      x-ogen-operation-group: Read
      summary: Compare two NPC revisions
      description: The fields that differ between two Revisions. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
        - name: from
          in: query
          required: true
          description: The earlier revision number.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100000 }
        - name: to
          in: query
          required: true
          description: The later revision number.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100000 }
      responses:
        "200":
          description: The changed fields.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/FieldChange"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreNpcRevision
      x-ogen-operation-group: Build
      x-mcp: { tool: restore_npc_revision, entity: npc, id: npcId }
      summary: Restore an NPC revision
      description: Brings the NPC back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
[...]
