openapi: 3.1.0
info:
  title: Grimoire API
  version: 0.0.0
  summary: Self-hosted D&D 5e table companion.
  description: >-
    Hand-authored source of truth for the REST API, the live-session WebSocket messages
    (components only) and the MCP tool schemas. Generated code derives from this file.
  license:
    name: Attribution Assurance License
    identifier: AAL
  contact:
    name: Joris Jonkers
    url: https://jorisjonkers.dev
servers:
  - url: https://grimoire.jorisjonkers.dev
    description: Production
    x-internal: false
security:
  - forwardAuth: []
tags:
  - name: Campaign
    description: Campaigns, Members, roles and invites.
  - name: Compendium
    description: SRD reference data.
  - name: Play
    description: Rolls and the Action Log.
  - name: Prep
    description: The DM's prepared material and its Revisions.
  - name: Rules
    description: Non-mutating rules previews.
  - name: Identity
    description: The signed-in account.
  - name: Operations
    description: Liveness, readiness and service status.
paths:
  /api/v1/compendium/spells:
    get:
      operationId: listSpells
      summary: List spells
      description: Spells in name order, one page at a time. Without a ruleset the 2024 rules lead the blend.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: q
          in: query
          description: Part of the spell name.
          schema: { type: string, minLength: 1, maxLength: 60 }
        - name: level
          in: query
          description: Spell level; 0 is a cantrip.
          schema: { type: integer, format: int32, minimum: 0, maximum: 9 }
        - name: school
          in: query
          description: Magic school slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - name: class
          in: query
          description: Class slug whose spell list to show.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of spells.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpellPage"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/spells/{slug}:
    get:
      operationId: getSpell
      summary: Get a spell
      description: One spell with its rules text and the conditions it mentions.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: slug
          in: path
          required: true
          description: Spell slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
      responses:
        "200":
          description: The spell.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Spell"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/entries:
    get:
      operationId: listEntries
      summary: List compendium entries
      description: Entries of one kind in name order, one page at a time. Without a ruleset the 2024 rules lead the blend.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: kind
          in: query
          required: true
          description: Which kind of entry to list.
          schema: { $ref: "#/components/schemas/EntryKind" }
        - name: q
          in: query
          description: Part of the entry name.
          schema: { type: string, minLength: 1, maxLength: 60 }
        - $ref: "#/components/parameters/Ruleset"
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of entries.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntryPage"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/entries/{kind}/{slug}:
    get:
      operationId: getEntry
      summary: Get a compendium entry
      description: One entry rendered for reading, with the conditions its text mentions.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: kind
          in: path
          required: true
          description: Entry kind.
          schema: { $ref: "#/components/schemas/EntryKind" }
        - name: slug
          in: path
          required: true
          description: Entry slug.
          schema: { $ref: "#/components/schemas/Slug" }
        - $ref: "#/components/parameters/Ruleset"
      responses:
        "200":
          description: The entry.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entry"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/automation:
    get:
      operationId: getAutomationCoverage
      summary: Get automation coverage
      description: How many entries of each kind the rules engine computes fully, partly, or leaves to the DM.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: Counts per kind.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 40
                items:
                  $ref: "#/components/schemas/AutomationCount"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/builder:
    get:
      operationId: getBuilderOptions
      summary: Get character builder options
      description: Every class, species, background, armour and weapon a first-level character can choose in one ruleset.
      tags: [Compendium]
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
        - name: ruleset
          in: query
          required: true
          description: The ruleset to build in.
          schema: { $ref: "#/components/schemas/Ruleset" }
      responses:
        "200":
          description: The options.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuilderOptions"
        "304":
          description: Not modified since the given ETag.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/compendium/sources:
    get:
      operationId: listSources
      summary: List compendium sources
      description: The documents the compendium draws from, with the attribution each license requires.
      tags: [Compendium]
      responses:
        "200":
          description: Every source document.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: "#/components/schemas/Source"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns:
    get:
      operationId: listCampaigns
      summary: List my campaigns
      description: The Campaigns the caller is a Member of, newest first.
      tags: [Campaign]
      parameters:
        - name: cursor
          in: query
          description: Opaque cursor from the previous page.
          schema: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        - name: limit
          in: query
          description: Page size.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page of campaigns.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignPage"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createCampaign
      summary: Create a campaign
      description: Starts a Campaign with the caller as its first DM.
      tags: [Campaign]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignCreate"
      responses:
        "201":
          description: The new campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}:
    get:
      operationId: getCampaign
      summary: Get a campaign
      description: A Campaign's home with its settings, the caller's role and every Member. Members only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    patch:
      operationId: updateCampaign
      summary: Update a campaign
      description: Changes a Campaign's settings. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignUpdate"
      responses:
        "200":
          description: The updated campaign.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignSummary"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/members/{memberId}:
    patch:
      operationId: updateMember
      summary: Change a member role
      description: Makes a Member a DM or a Player. DM only; the last DM cannot step down.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MemberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemberUpdate"
      responses:
        "200":
          description: The updated member.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: removeMember
      summary: Remove a member
      description: A DM removes a Member, or a Member leaves. The last DM cannot leave.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MemberId"
      responses:
        "204":
          description: Removed.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/invites:
    get:
      operationId: listInvites
      summary: List open invites
      description: Invite links that still work. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: Open invites.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 200
                items:
                  $ref: "#/components/schemas/Invite"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createInvite
      summary: Create an invite link
      description: Opens a link that adds whoever follows it as a Player. The token is shown only once. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "201":
          description: The invite and its token.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewInvite"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/invites/{inviteId}:
    delete:
      operationId: revokeInvite
      summary: Revoke an invite link
      description: Closes an invite link. DM only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/InviteId"
      responses:
        "204":
          description: Revoked.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters:
    get:
      operationId: listCharacters
      summary: List characters
      description: The party's Characters. Members only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The characters.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 200
                items:
                  $ref: "#/components/schemas/CharacterSummary"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createCharacter
      summary: Create a character
      description: Builds a first-level Character owned by the caller, validated against the campaign ruleset.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CharacterBuild"
      responses:
        "201":
          description: The new character.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/preview:
    post:
      operationId: previewCharacter
      summary: Preview a character
      description: Validates a build and returns the sheet it would make, without saving it.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CharacterBuild"
      responses:
        "200":
          description: The sheet.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}:
    get:
      operationId: getCharacter
      summary: Get a character sheet
      description: A Character's sheet. Members only.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The sheet.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    patch:
      operationId: updateCharacter
      summary: Edit a character
      description: Out-of-combat changes by the owner or a DM; refused with 409 while the Character is in Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CharacterEdit"
      responses:
        "200":
          description: The updated sheet.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterSheet"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteCharacter
      summary: Delete a character
      description: Removes a Character. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/portrait:
    get:
      operationId: getPortrait
      summary: Get the portrait
      description: The picture itself, served only to Members of the Campaign.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The picture.
          headers:
            Cache-Control:
              description: Content-addressed, so private caches may keep it.
              schema: { type: string, maxLength: 100 }
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            image/png:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/jpeg:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/webp:
              schema: { type: string, format: binary, maxLength: 10485760 }
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    put:
      operationId: setPortrait
      summary: Upload the portrait
      description: A PNG, JPEG or WebP picture of at most 10 MB. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              maxLength: 10485760
      responses:
        "204":
          description: Stored.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/characters/{characterId}/token:
    get:
      operationId: getTokenIcon
      summary: Get the token icon
      description: The picture itself, served only to Members of the Campaign.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "200":
          description: The picture.
          headers:
            Cache-Control:
              description: Content-addressed, so private caches may keep it.
              schema: { type: string, maxLength: 100 }
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            image/png:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/jpeg:
              schema: { type: string, format: binary, maxLength: 10485760 }
            image/webp:
              schema: { type: string, format: binary, maxLength: 10485760 }
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    put:
      operationId: setTokenIcon
      summary: Upload the token icon
      description: A PNG, JPEG or WebP picture of at most 10 MB. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              maxLength: 10485760
      responses:
        "204":
          description: Stored.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: clearTokenIcon
      summary: Use initials for the token
      description: Removes the token icon so the token shows initials. The owner or a DM, never during Combat.
      tags: [Campaign]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/CharacterId"
      responses:
        "204":
          description: Cleared.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs:
    get:
      operationId: listNpcs
      summary: List NPCs
      description: The Campaign's NPCs. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The NPCs.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createNpc
      summary: Create an NPC
      description: Adds an NPC and records its first Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NpcInput"
      responses:
        "201":
          description: The new NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/deleted:
    get:
      operationId: listDeletedNpcs
      summary: List deleted NPCs
      description: NPCs that were deleted and can still be restored from their Revisions. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The deleted NPCs.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/DeletedNpc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}:
    get:
      operationId: getNpc
      summary: Get an NPC
      description: One NPC. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      responses:
        "200":
          description: The NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    put:
      operationId: updateNpc
      summary: Update an NPC
      description: Replaces the NPC and records a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NpcInput"
      responses:
        "200":
          description: The updated NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteNpc
      summary: Delete an NPC
      description: Removes the NPC; its Revisions keep it restorable. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      responses:
        "204":
          description: Deleted.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}/revisions:
    get:
      operationId: listNpcRevisions
      summary: List NPC revisions
      description: Every Revision of the NPC, newest first, with its author and origin. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
      responses:
        "200":
          description: The revisions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/Revision"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}/revisions/diff:
    get:
      operationId: diffNpcRevisions
      summary: Compare two NPC revisions
      description: The fields that differ between two Revisions. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
        - name: from
          in: query
          required: true
          description: The earlier revision number.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100000 }
        - name: to
          in: query
          required: true
          description: The later revision number.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100000 }
      responses:
        "200":
          description: The changed fields.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 1000
                items:
                  $ref: "#/components/schemas/FieldChange"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/npcs/{npcId}/revisions/{revisionNo}/restore:
    post:
      operationId: restoreNpcRevision
      summary: Restore an NPC revision
      description: Brings the NPC back to a Revision, recreating it if deleted; the restore is itself a Revision. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/NpcId"
        - $ref: "#/components/parameters/RevisionNo"
      responses:
        "200":
          description: The restored NPC.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Npc"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/rolls:
    get:
      operationId: listRolls
      summary: List roll requests
      description: Recent Roll Requests in the Campaign. Members only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - name: limit
          in: query
          description: How many to return, newest first.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 30 }
      responses:
        "200":
          description: The rolls.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: "#/components/schemas/RollRequest"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: createRoll
      summary: Request a roll
      description: Opens a Roll Request for the caller, or, from a DM, for another Member.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RollCreate"
      responses:
        "201":
          description: The new request.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RollRequest"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/rolls/{rollId}:
    get:
      operationId: getRoll
      summary: Get a roll request
      description: One Roll Request with every die. Members only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/RollId"
      responses:
        "200":
          description: The request.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RollRequest"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/rolls/{rollId}/dice/{dieNo}:
    post:
      operationId: setDie
      summary: Roll or enter one die
      description: The server rolls the die from a logged seed, or takes the face read off a physical die. The roller or a DM; the last die resolves the request.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/RollId"
        - name: dieNo
          in: path
          required: true
          description: Which die, counting from 0.
          schema: { type: integer, format: int32, minimum: 0, maximum: 119 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DieFill"
      responses:
        "200":
          description: The request after the die.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RollRequest"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/rolls/{rollId}/rest:
    post:
      operationId: rollRest
      summary: Roll the rest
      description: The server rolls every die still empty. The roller or a DM.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/RollId"
      responses:
        "200":
          description: The resolved request.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RollRequest"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/log:
    get:
      operationId: getActionLog
      summary: Read the Action Log
      description: The Campaign's recent Actions with their seeds. DM only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - name: limit
          in: query
          description: How many to return, newest first.
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 30 }
      responses:
        "200":
          description: The actions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  $ref: "#/components/schemas/ActionEntry"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/sessions:
    get:
      operationId: listSessions
      summary: List sessions
      description: The Campaign's Sessions, newest first. Members only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The sessions.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 50
                items:
                  $ref: "#/components/schemas/PlaySession"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: startSession
      summary: Start a session
      description: Opens the next live Session. DM only. Live play then runs over the WebSocket at /api/v1/campaigns/{campaignId}/sessions/{sessionId}/live?audience=dm|party|table, whose messages are LiveCommand and LiveUpdate.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "201":
          description: The new session.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaySession"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/sessions/{sessionId}:
    get:
      operationId: getSession
      summary: Get a session
      description: One Session. Members only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: The session.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaySession"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/sessions/{sessionId}/end:
    post:
      operationId: endSession
      summary: End a session
      description: Ends a live Session and disconnects everyone. DM only.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: The ended session.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaySession"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/maps:
    get:
      operationId: listMaps
      summary: List maps
      description: The Campaign's local Maps. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
      responses:
        "200":
          description: The maps.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                maxItems: 500
                items:
                  $ref: "#/components/schemas/LocalMap"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    post:
      operationId: uploadMap
      summary: Upload a map
      description: A PNG, JPEG or WebP picture of at most 25 MB and 36 megapixels, with a default hex calibration. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - name: name
          in: query
          required: true
          description: The map's name.
          schema: { type: string, minLength: 1, maxLength: 80 }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary, maxLength: 26214400 }
      responses:
        "201":
          description: The new map.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocalMap"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/maps/{mapId}:
    get:
      operationId: getMap
      summary: Get a map
      description: One Map with its calibration. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MapId"
      responses:
        "200":
          description: The map.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocalMap"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
    put:
      operationId: updateMap
      summary: Calibrate a map
      description: Renames a Map and sets its hex size, grid origin and ambient light. DM only.
      tags: [Prep]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MapId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MapEdit"
      responses:
        "200":
          description: The calibrated map.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocalMap"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/campaigns/{campaignId}/maps/{mapId}/image:
    get:
      operationId: getMapImage
      summary: Get a map picture
      description: The whole picture for a DM; for everyone else a PNG with every hex the party has never seen painted black on the server.
      tags: [Play]
      parameters:
        - $ref: "#/components/parameters/CampaignId"
        - $ref: "#/components/parameters/MapId"
        - name: v
          in: query
          description: Cache-busting version; the picture changes as the party explores.
          schema: { type: integer, format: int32, minimum: 0, maximum: 1000000 }
      responses:
        "200":
          description: The picture.
          headers:
            Cache-Control:
              description: Private; the version query changes as the party explores.
              schema: { type: string, maxLength: 100 }
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            image/png:
              schema: { type: string, format: binary, maxLength: 104857600 }
            image/jpeg:
              schema: { type: string, format: binary, maxLength: 104857600 }
            image/webp:
              schema: { type: string, format: binary, maxLength: 104857600 }
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/invites/preview:
    post:
      operationId: previewInvite
      summary: Preview an invite
      description: Which Campaign an invite link leads to, before joining.
      tags: [Campaign]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteToken"
      responses:
        "200":
          description: The invite.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitePreview"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/invites/accept:
    post:
      operationId: acceptInvite
      summary: Accept an invite
      description: Joins the caller to the Campaign as a Player. A Member keeps their role.
      tags: [Campaign]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteAccept"
      responses:
        "200":
          description: The campaign joined.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignRef"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/rules/hex/reach:
    post:
      operationId: previewReach
      summary: Preview movement
      description: Every hex a mover can reach and, with a target, the cheapest path to it. Changes nothing.
      tags: [Rules]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReachRequest"
      responses:
        "200":
          description: The preview.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReachPreview"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/rules/hex/sight:
    post:
      operationId: previewSight
      summary: Preview line of sight
      description: Whether one hex can see another and the cover in between. Changes nothing.
      tags: [Rules]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SightRequest"
      responses:
        "200":
          description: The preview.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SightPreview"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/me:
    get:
      operationId: getMe
      summary: Who am I
      description: Returns the identity the platform authenticated for this request.
      tags: [Identity]
      responses:
        "200":
          description: The signed-in account.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /api/v1/status:
    get:
      operationId: getStatus
      summary: Service status
      description: Reports the running version and whether the database answers.
      tags: [Operations]
      responses:
        "200":
          description: The service status.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimit-Limit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimit-Remaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
  /healthz:
    get:
      operationId: getHealth
      summary: Liveness probe
      description: Returns ok while the process is serving requests.
      tags: [Operations]
      security: []
      responses:
        "200":
          description: The process is alive.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "4XX":
          $ref: "#/components/responses/Problem"
  /readyz:
    get:
      operationId: getReadiness
      summary: Readiness probe
      description: Returns ok once the API can serve traffic.
      tags: [Operations]
      security: []
      responses:
        "200":
          description: The API is ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "4XX":
          $ref: "#/components/responses/Problem"
        "5XX":
          $ref: "#/components/responses/Problem"
webhooks:
  liveCommand:
    post:
      operationId: liveCommand
      summary: Live command frame
      description: Not an HTTP call. The shape of every WebSocket frame a client sends on /api/v1/campaigns/{campaignId}/sessions/{sessionId}/live.
      tags: [Play]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LiveCommand"
      responses:
        "204":
          description: Frames are not answered individually.
  liveUpdate:
    post:
      operationId: liveUpdate
      summary: Live update frame
      description: Not an HTTP call. The shape of every WebSocket frame the server sends on the live Session socket.
      tags: [Play]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LiveUpdate"
      responses:
        "204":
          description: Frames are not answered individually.
components:
  securitySchemes:
    forwardAuth:
      type: apiKey
      in: header
      name: X-User-Id
      description: Identity injected by the platform's forward-auth; never sent by clients directly.
  parameters:
    CampaignId:
      name: campaignId
      in: path
      required: true
      description: Campaign id.
      schema: { $ref: "#/components/schemas/Id" }
    MemberId:
      name: memberId
      in: path
      required: true
      description: Member id.
      schema: { $ref: "#/components/schemas/Id" }
    CharacterId:
      name: characterId
      in: path
      required: true
      description: Character id.
      schema: { $ref: "#/components/schemas/Id" }
    SessionId:
      name: sessionId
      in: path
      required: true
      description: Session id.
      schema: { $ref: "#/components/schemas/Id" }
    RollId:
      name: rollId
      in: path
      required: true
      description: Roll Request id.
      schema: { $ref: "#/components/schemas/Id" }
    MapId:
      name: mapId
      in: path
      required: true
      description: Map id.
      schema: { $ref: "#/components/schemas/Id" }
    NpcId:
      name: npcId
      in: path
      required: true
      description: NPC id.
      schema: { $ref: "#/components/schemas/Id" }
    RevisionNo:
      name: revisionNo
      in: path
      required: true
      description: Revision number.
      schema: { type: integer, format: int32, minimum: 1, maximum: 100000 }
    InviteId:
      name: inviteId
      in: path
      required: true
      description: Invite id.
      schema: { $ref: "#/components/schemas/Id" }
    IfNoneMatch:
      name: If-None-Match
      in: header
      description: ETag from an earlier response; the server answers 304 when nothing changed.
      schema: { type: string, maxLength: 100 }
    Ruleset:
      name: ruleset
      in: query
      description: Restrict to one ruleset; omitted, the 2024 rules lead.
      schema: { $ref: "#/components/schemas/Ruleset" }
  headers:
    ETag:
      description: Version of the compendium this response came from.
      schema: { type: string, maxLength: 100 }
    RateLimit-Limit:
      description: Requests allowed in the current window.
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 1000000
    RateLimit-Remaining:
      description: Requests left in the current window.
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 1000000
    RateLimit-Reset:
      description: Seconds until the window resets.
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 86400
  responses:
    Problem:
      description: An RFC 9457 problem.
      headers:
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimit-Limit"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimit-Remaining"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimit-Reset"
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    Id:
      type: string
      format: uuid
      description: Random identifier.
      maxLength: 36
    Role:
      type: string
      description: What a Member may do in a Campaign.
      enum: [dm, player]
    DisplayName:
      type: string
      description: How a Member appears to the rest of the table.
      minLength: 1
      maxLength: 60
    CampaignName:
      type: string
      description: A Campaign's name.
      minLength: 1
      maxLength: 80
    CampaignSummary:
      type: object
      description: A Campaign as it appears in the caller's list.
      additionalProperties: false
      required: [id, name, ruleset, myRole, memberCount, createdAt]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        name: { $ref: "#/components/schemas/CampaignName" }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
        myRole: { $ref: "#/components/schemas/Role" }
        memberCount: { type: integer, format: int32, minimum: 1, maximum: 1000 }
        createdAt: { type: string, format: date-time, maxLength: 40 }
    CampaignPage:
      type: object
      description: One page of campaigns.
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 100
          items: { $ref: "#/components/schemas/CampaignSummary" }
        nextCursor:
          type: string
          maxLength: 200
          pattern: "^[A-Za-z0-9_-]+$"
    Member:
      type: object
      description: An account's participation in a Campaign.
      additionalProperties: false
      required: [id, displayName, role, joinedAt, isMe]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        displayName: { $ref: "#/components/schemas/DisplayName" }
        role: { $ref: "#/components/schemas/Role" }
        joinedAt: { type: string, format: date-time, maxLength: 40 }
        isMe: { type: boolean }
    Campaign:
      type: object
      description: A Campaign's home.
      additionalProperties: false
      required: [id, name, ruleset, myRole, memberCount, createdAt, me, members]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        name: { $ref: "#/components/schemas/CampaignName" }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
        myRole: { $ref: "#/components/schemas/Role" }
        memberCount: { type: integer, format: int32, minimum: 1, maximum: 1000 }
        createdAt: { type: string, format: date-time, maxLength: 40 }
        me: { $ref: "#/components/schemas/Member" }
        members:
          type: array
          maxItems: 1000
          items: { $ref: "#/components/schemas/Member" }
    CampaignCreate:
      type: object
      description: A new Campaign.
      additionalProperties: false
      required: [name, displayName]
      properties:
        name: { $ref: "#/components/schemas/CampaignName" }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
        displayName: { $ref: "#/components/schemas/DisplayName" }
    CampaignUpdate:
      type: object
      description: Settings to change; omitted fields stay as they are.
      additionalProperties: false
      properties:
        name: { $ref: "#/components/schemas/CampaignName" }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
    CampaignRef:
      type: object
      description: A reference to a Campaign.
      additionalProperties: false
      required: [id]
      properties:
        id: { $ref: "#/components/schemas/Id" }
    MemberUpdate:
      type: object
      description: A Member's new role.
      additionalProperties: false
      required: [role]
      properties:
        role: { $ref: "#/components/schemas/Role" }
    Invite:
      type: object
      description: An open invite link.
      additionalProperties: false
      required: [id, createdAt, expiresAt, createdBy]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        createdAt: { type: string, format: date-time, maxLength: 40 }
        expiresAt: { type: string, format: date-time, maxLength: 40 }
        createdBy: { $ref: "#/components/schemas/DisplayName" }
    NewInvite:
      type: object
      description: A new invite and the token for its link, shown once.
      additionalProperties: false
      required: [id, createdAt, expiresAt, createdBy, token]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        createdAt: { type: string, format: date-time, maxLength: 40 }
        expiresAt: { type: string, format: date-time, maxLength: 40 }
        createdBy: { $ref: "#/components/schemas/DisplayName" }
        token: { $ref: "#/components/schemas/Token" }
    InvitePreview:
      type: object
      description: Where an invite link leads.
      additionalProperties: false
      required: [campaignName, invitedBy]
      properties:
        campaignName: { $ref: "#/components/schemas/CampaignName" }
        invitedBy: { $ref: "#/components/schemas/DisplayName" }
    Token:
      type: string
      description: An invite token, as it appears in the invite link.
      minLength: 43
      maxLength: 43
      pattern: "^[A-Za-z0-9_-]+$"
    InviteToken:
      type: object
      description: An invite token.
      additionalProperties: false
      required: [token]
      properties:
        token: { $ref: "#/components/schemas/Token" }
    InviteAccept:
      type: object
      description: The invite token and how the new Member wants to appear.
      additionalProperties: false
      required: [token, displayName]
      properties:
        token: { $ref: "#/components/schemas/Token" }
        displayName: { $ref: "#/components/schemas/DisplayName" }
    Ability:
      type: string
      description: One of the six abilities.
      enum: [strength, dexterity, constitution, intelligence, wisdom, charisma]
    AbilityBase:
      type: object
      description: Base ability scores before origin increases.
      additionalProperties: false
      required: [strength, dexterity, constitution, intelligence, wisdom, charisma]
      properties:
        strength: { type: integer, format: int32, minimum: 3, maximum: 18 }
        dexterity: { type: integer, format: int32, minimum: 3, maximum: 18 }
        constitution: { type: integer, format: int32, minimum: 3, maximum: 18 }
        intelligence: { type: integer, format: int32, minimum: 3, maximum: 18 }
        wisdom: { type: integer, format: int32, minimum: 3, maximum: 18 }
        charisma: { type: integer, format: int32, minimum: 3, maximum: 18 }
    AbilityBonus:
      type: object
      description: Origin ability increases, +2 and +1 or +1 to three abilities.
      additionalProperties: false
      properties:
        strength: { type: integer, format: int32, minimum: 1, maximum: 2 }
        dexterity: { type: integer, format: int32, minimum: 1, maximum: 2 }
        constitution: { type: integer, format: int32, minimum: 1, maximum: 2 }
        intelligence: { type: integer, format: int32, minimum: 1, maximum: 2 }
        wisdom: { type: integer, format: int32, minimum: 1, maximum: 2 }
        charisma: { type: integer, format: int32, minimum: 1, maximum: 2 }
    CharacterName:
      type: string
      description: A Character's name.
      minLength: 1
      maxLength: 60
    ArmorChoice:
      type: string
      description: Body armour slug, or empty for none.
      maxLength: 80
      pattern: "^([a-z0-9]+(-[a-z0-9]+)*)?$"
    CharacterBuild:
      type: object
      description: The choices for a first-level Character.
      additionalProperties: false
      required: [name, species, class, background, method, base, bonus, skills, shield, weapons]
      properties:
        name: { $ref: "#/components/schemas/CharacterName" }
        species: { $ref: "#/components/schemas/Slug" }
        class: { $ref: "#/components/schemas/Slug" }
        background: { $ref: "#/components/schemas/Slug" }
        method: { type: string, enum: [standard-array, point-buy, rolled] }
        base: { $ref: "#/components/schemas/AbilityBase" }
        bonus: { $ref: "#/components/schemas/AbilityBonus" }
        skills:
          type: array
          maxItems: 4
          items: { $ref: "#/components/schemas/Slug" }
        armor: { $ref: "#/components/schemas/ArmorChoice" }
        shield: { type: boolean }
        weapons:
          type: array
          maxItems: 4
          items: { $ref: "#/components/schemas/Slug" }
    CharacterEdit:
      type: object
      description: Out-of-combat changes; omitted fields stay as they are.
      additionalProperties: false
      properties:
        name: { $ref: "#/components/schemas/CharacterName" }
        hpCurrent: { type: integer, format: int32, minimum: 0, maximum: 1000 }
        armor: { $ref: "#/components/schemas/ArmorChoice" }
        shield: { type: boolean }
        weapons:
          type: array
          maxItems: 4
          items: { $ref: "#/components/schemas/Slug" }
    NamedRef:
      type: object
      description: A compendium entry by slug and name.
      additionalProperties: false
      required: [slug, name]
      properties:
        slug: { $ref: "#/components/schemas/Slug" }
        name: { type: string, maxLength: 120 }
    AbilityLine:
      type: object
      description: One ability on the sheet with its saving throw.
      additionalProperties: false
      required: [ability, score, modifier, save, saveProficient]
      properties:
        ability: { $ref: "#/components/schemas/Ability" }
        score: { type: integer, format: int32, minimum: 1, maximum: 30 }
        modifier: { type: integer, format: int32, minimum: -5, maximum: 10 }
        save: { type: integer, format: int32, minimum: -5, maximum: 30 }
        saveProficient: { type: boolean }
    SkillLine:
      type: object
      description: One skill on the sheet.
      additionalProperties: false
      required: [skill, ability, bonus, proficient]
      properties:
        skill: { $ref: "#/components/schemas/Slug" }
        ability: { $ref: "#/components/schemas/Ability" }
        bonus: { type: integer, format: int32, minimum: -5, maximum: 30 }
        proficient: { type: boolean }
    ResourcePool:
      type: object
      description: A spendable pool such as hit dice or spell slots.
      additionalProperties: false
      required: [key, label, current, max]
      properties:
        key: { $ref: "#/components/schemas/Slug" }
        label: { type: string, maxLength: 80 }
        current: { type: integer, format: int32, minimum: 0, maximum: 100 }
        max: { type: integer, format: int32, minimum: 0, maximum: 100 }
    WeaponLine:
      type: object
      description: A carried weapon.
      additionalProperties: false
      required: [slug, name, damageDice, damageType, rangeFeet, longRangeFeet]
      properties:
        slug: { $ref: "#/components/schemas/Slug" }
        name: { type: string, maxLength: 120 }
        damageDice: { type: string, maxLength: 20 }
        damageType: { type: string, maxLength: 40 }
        rangeFeet: { type: integer, format: int32, minimum: 0, maximum: 10000 }
        longRangeFeet: { type: integer, format: int32, minimum: 0, maximum: 10000 }
    ActiveEffect:
      type: object
      description: An Effect currently on the Character.
      additionalProperties: false
      required: [name, detail]
      properties:
        name: { type: string, maxLength: 120 }
        detail: { type: string, maxLength: 500 }
    CharacterSheet:
      type: object
      description: A Character's sheet with every value derived by the rules.
      additionalProperties: false
      required: [name, ruleset, level, ownerName, mine, editable, species, class, background, method, base, bonus, abilities, skills, classSkills, backgroundSkills, hpCurrent, hpMax, armorClass, initiative, speedFeet, proficiencyBonus, passivePerception, shield, weapons, resources, effects, warnings]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        name: { $ref: "#/components/schemas/CharacterName" }
        ruleset: { $ref: "#/components/schemas/Ruleset" }
        level: { type: integer, format: int32, minimum: 1, maximum: 20 }
        ownerName: { $ref: "#/components/schemas/DisplayName" }
        mine: { type: boolean }
        editable: { type: boolean }
        species: { $ref: "#/components/schemas/NamedRef" }
        class: { $ref: "#/components/schemas/NamedRef" }
        background: { $ref: "#/components/schemas/NamedRef" }
        method: { type: string, enum: [standard-array, point-buy, rolled] }
        base: { $ref: "#/components/schemas/AbilityBase" }
        bonus: { $ref: "#/components/schemas/AbilityBonus" }
        abilities:
          type: array
          maxItems: 6
          items: { $ref: "#/components/schemas/AbilityLine" }
        skills:
          type: array
          maxItems: 18
          items: { $ref: "#/components/schemas/SkillLine" }
        classSkills:
          type: array
          maxItems: 4
          items: { $ref: "#/components/schemas/Slug" }
        backgroundSkills:
          type: array
          maxItems: 4
          items: { $ref: "#/components/schemas/Slug" }
        hpCurrent: { type: integer, format: int32, minimum: 0, maximum: 1000 }
        hpMax: { type: integer, format: int32, minimum: 1, maximum: 1000 }
        armorClass: { type: integer, format: int32, minimum: 0, maximum: 50 }
        initiative: { type: integer, format: int32, minimum: -5, maximum: 30 }
        speedFeet: { type: integer, format: int32, minimum: 0, maximum: 200 }
        proficiencyBonus: { type: integer, format: int32, minimum: 2, maximum: 6 }
        passivePerception: { type: integer, format: int32, minimum: 0, maximum: 50 }
        armor: { $ref: "#/components/schemas/NamedRef" }
        shield: { type: boolean }
        weapons:
          type: array
          maxItems: 4
          items: { $ref: "#/components/schemas/WeaponLine" }
        resources:
          type: array
          maxItems: 20
          items: { $ref: "#/components/schemas/ResourcePool" }
        effects:
          type: array
          maxItems: 50
          items: { $ref: "#/components/schemas/ActiveEffect" }
        warnings:
          type: array
          maxItems: 10
          items: { type: string, maxLength: 200 }
        portraitUrl: { $ref: "#/components/schemas/AssetUrl" }
        tokenUrl: { $ref: "#/components/schemas/AssetUrl" }
    AssetUrl:
      type: string
      description: Same-origin path of a stored picture; it changes when the picture does.
      maxLength: 300
      pattern: "^/api/v1/"
    CharacterSummary:
      type: object
      description: A Character in the party list.
      additionalProperties: false
      required: [id, name, ownerName, mine, species, class, level, hpCurrent, hpMax]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        name: { $ref: "#/components/schemas/CharacterName" }
        ownerName: { $ref: "#/components/schemas/DisplayName" }
        mine: { type: boolean }
        species: { $ref: "#/components/schemas/Slug" }
        class: { $ref: "#/components/schemas/Slug" }
        level: { type: integer, format: int32, minimum: 1, maximum: 20 }
        hpCurrent: { type: integer, format: int32, minimum: 0, maximum: 1000 }
        hpMax: { type: integer, format: int32, minimum: 1, maximum: 1000 }
        tokenUrl: { $ref: "#/components/schemas/AssetUrl" }
    ClassChoice:
      type: object
      description: A class and what it gives at level 1.
      additionalProperties: false
      required: [slug, name, hitDie, saves, skillChoices]
      properties:
        slug: { $ref: "#/components/schemas/Slug" }
        name: { type: string, maxLength: 120 }
        hitDie: { type: integer, format: int32, minimum: 0, maximum: 12 }
        saves:
          type: array
          maxItems: 6
          items: { $ref: "#/components/schemas/Ability" }
        skillChoices: { type: integer, format: int32, minimum: 0, maximum: 6 }
    SpeciesChoice:
      type: object
      description: A playable species.
      additionalProperties: false
      required: [slug, name, speedFeet]
      properties:
        slug: { $ref: "#/components/schemas/Slug" }
        name: { type: string, maxLength: 120 }
        speedFeet: { type: integer, format: int32, minimum: 0, maximum: 200 }
    BackgroundChoice:
      type: object
      description: A background and what it grants; empty abilities means a free choice.
      additionalProperties: false
      required: [slug, name, abilities, skills]
      properties:
        slug: { $ref: "#/components/schemas/Slug" }
        name: { type: string, maxLength: 120 }
        abilities:
          type: array
          maxItems: 6
          items: { $ref: "#/components/schemas/Ability" }
        skills:
          type: array
          maxItems: 6
          items: { $ref: "#/components/schemas/Slug" }
    ArmorOptionItem:
      type: object
      description: A suit of armour or a shield.
      additionalProperties: false
      required: [slug, name, category, shield, acBase, addDex, strengthRequired, stealthDisadvantage]
      properties:
        slug: { $ref: "#/components/schemas/Slug" }
        name: { type: string, maxLength: 120 }
        category: { type: string, maxLength: 40 }
        shield: { type: boolean }
        acBase: { type: integer, format: int32, minimum: 0, maximum: 30 }
        addDex: { type: boolean }
        dexCap: { type: integer, format: int32, minimum: 0, maximum: 10 }
        strengthRequired: { type: integer, format: int32, minimum: 0, maximum: 30 }
        stealthDisadvantage: { type: boolean }
    SkillChoice:
      type: object
      description: A skill and its ability.
      additionalProperties: false
      required: [skill, ability]
      properties:
        skill: { $ref: "#/components/schemas/Slug" }
        ability: { $ref: "#/components/schemas/Ability" }
    BuilderOptions:
      type: object
      description: What a first-level character can choose in one ruleset.
      additionalProperties: false
      required: [ruleset, rulesetYear, pointBuyBudget, classes, species, backgrounds, armor, weapons, skills]
      properties:
        ruleset: { $ref: "#/components/schemas/Ruleset" }
        rulesetYear: { type: integer, format: int32, minimum: 2000, maximum: 2100 }
        pointBuyBudget: { type: integer, format: int32, minimum: 0, maximum: 100 }
        classes:
          type: array
          maxItems: 100
          items: { $ref: "#/components/schemas/ClassChoice" }
        species:
          type: array
          maxItems: 100
          items: { $ref: "#/components/schemas/SpeciesChoice" }
        backgrounds:
          type: array
          maxItems: 100
          items: { $ref: "#/components/schemas/BackgroundChoice" }
        armor:
          type: array
          maxItems: 100
          items: { $ref: "#/components/schemas/ArmorOptionItem" }
        weapons:
          type: array
          maxItems: 200
          items: { $ref: "#/components/schemas/WeaponLine" }
        skills:
          type: array
          maxItems: 18
          items: { $ref: "#/components/schemas/SkillChoice" }
    Disposition:
      type: string
      description: How an NPC feels about the party.
      enum: [friendly, neutral, hostile]
    NpcInput:
      type: object
      description: The editable fields of an NPC.
      additionalProperties: false
      required: [name, disposition]
      properties:
        name: { type: string, minLength: 1, maxLength: 80 }
        title: { type: string, maxLength: 80 }
        description: { type: string, maxLength: 8000 }
        dmNotes: { type: string, maxLength: 8000 }
        disposition: { $ref: "#/components/schemas/Disposition" }
    Npc:
      type: object
      description: A non-player character in the DM's prep.
      additionalProperties: false
      required: [id, name, title, description, dmNotes, disposition, updatedAt]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        name: { type: string, minLength: 1, maxLength: 80 }
        title: { type: string, maxLength: 80 }
        description: { type: string, maxLength: 8000 }
        dmNotes: { type: string, maxLength: 8000 }
        disposition: { $ref: "#/components/schemas/Disposition" }
        updatedAt: { type: string, format: date-time, maxLength: 40 }
    DeletedNpc:
      type: object
      description: An NPC that only its Revisions remember.
      additionalProperties: false
      required: [id, name, deletedAt]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        name: { type: string, maxLength: 80 }
        deletedAt: { type: string, format: date-time, maxLength: 40 }
    Revision:
      type: object
      description: One recorded version of a piece of prep data.
      additionalProperties: false
      required: [no, action, author, origin, createdAt]
      properties:
        no: { type: integer, format: int32, minimum: 1, maximum: 100000 }
        action: { type: string, enum: [create, update, delete, restore] }
        author: { $ref: "#/components/schemas/DisplayName" }
        origin: { type: string, enum: [ui, mcp, generator, system] }
        client: { type: string, maxLength: 80 }
        restoredFrom: { type: integer, format: int32, minimum: 1, maximum: 100000 }
        createdAt: { type: string, format: date-time, maxLength: 40 }
    FieldChange:
      type: object
      description: A field whose value differs between two Revisions.
      additionalProperties: false
      required: [field, before, after]
      properties:
        field: { type: string, maxLength: 60 }
        before: { type: string, maxLength: 8000 }
        after: { type: string, maxLength: 8000 }
    RollModifier:
      type: object
      description: A named flat bonus or penalty.
      additionalProperties: false
      required: [label, value]
      properties:
        label: { type: string, minLength: 1, maxLength: 80 }
        value: { type: integer, format: int32, minimum: -100, maximum: 100 }
    GroupLabel:
      type: object
      description: Why a group of dice is thrown, such as Bless.
      additionalProperties: false
      required: [group, label]
      properties:
        group: { type: integer, format: int32, minimum: 0, maximum: 5 }
        label: { type: string, minLength: 1, maxLength: 80 }
    RollCreate:
      type: object
      description: What to roll and why.
      additionalProperties: false
      required: [purpose, notation]
      properties:
        purpose: { type: string, minLength: 1, maxLength: 120 }
        notation: { type: string, minLength: 2, maxLength: 80, pattern: "^[0-9dDkKhHlL+\\- ]+$" }
        labels:
          type: array
          maxItems: 6
          items: { $ref: "#/components/schemas/GroupLabel" }
        modifiers:
          type: array
          maxItems: 12
          items: { $ref: "#/components/schemas/RollModifier" }
        rollerId: { $ref: "#/components/schemas/Id" }
    DieFill:
      type: object
      description: Roll the die on the server, or enter the face of a physical die.
      additionalProperties: false
      required: [mode]
      properties:
        mode: { type: string, enum: [auto, manual] }
        value: { type: integer, format: int32, minimum: 1, maximum: 100 }
    DiceGroup:
      type: object
      description: A group of identical dice and which of them count.
      additionalProperties: false
      required: [index, count, faces, sign]
      properties:
        index: { type: integer, format: int32, minimum: 0, maximum: 5 }
        label: { type: string, maxLength: 80 }
        count: { type: integer, format: int32, minimum: 1, maximum: 20 }
        faces: { type: integer, format: int32, minimum: 4, maximum: 100 }
        sign: { type: integer, format: int32, minimum: -1, maximum: 1 }
        keep: { type: string, enum: [highest, lowest] }
        keepCount: { type: integer, format: int32, minimum: 1, maximum: 19 }
    RollDie:
      type: object
      description: One die of a Roll Request.
      additionalProperties: false
      required: [no, group, faces, kept]
      properties:
        no: { type: integer, format: int32, minimum: 0, maximum: 119 }
        group: { type: integer, format: int32, minimum: 0, maximum: 5 }
        faces: { type: integer, format: int32, minimum: 4, maximum: 100 }
        value: { type: integer, format: int32, minimum: 1, maximum: 100 }
        mode: { type: string, enum: [auto, manual] }
        kept: { type: boolean }
    MemberRef:
      type: object
      description: A Member by id and name.
      additionalProperties: false
      required: [id, name]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        name: { $ref: "#/components/schemas/DisplayName" }
    RollRequest:
      type: object
      description: A Roll Request with exactly what to throw and every modifier source.
      additionalProperties: false
      required: [id, purpose, notation, requestedBy, roller, mine, canRoll, status, groups, dice, modifiers, createdAt]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        purpose: { type: string, maxLength: 120 }
        notation: { type: string, maxLength: 80 }
        requestedBy: { $ref: "#/components/schemas/DisplayName" }
        roller: { $ref: "#/components/schemas/MemberRef" }
        mine: { type: boolean }
        canRoll: { type: boolean }
        status: { type: string, enum: [pending, resolved] }
        total: { type: integer, format: int32, minimum: -10000, maximum: 10000 }
        groups:
          type: array
          maxItems: 6
          items: { $ref: "#/components/schemas/DiceGroup" }
        dice:
          type: array
          maxItems: 120
          items: { $ref: "#/components/schemas/RollDie" }
        modifiers:
          type: array
          maxItems: 12
          items: { $ref: "#/components/schemas/RollModifier" }
        createdAt: { type: string, format: date-time, maxLength: 40 }
        resolvedAt: { type: string, format: date-time, maxLength: 40 }
    ActionEntry:
      type: object
      description: One entry of the Action Log.
      additionalProperties: false
      required: [seq, kind, actor, origin, value, createdAt]
      properties:
        seq: { type: integer, format: int64, minimum: 1, maximum: 9007199254740991 }
        kind: { type: string, enum: [roll_requested, die_rolled, die_entered, roll_resolved] }
        actor: { $ref: "#/components/schemas/DisplayName" }
        origin: { type: string, enum: [ui, mcp, generator, system] }
        client: { type: string, maxLength: 80 }
        seed: { type: string, maxLength: 20, pattern: "^[0-9]+$" }
        rollId: { $ref: "#/components/schemas/Id" }
        dieNo: { type: integer, format: int32, minimum: 0, maximum: 119 }
        value: { type: integer, format: int32, minimum: -10000, maximum: 10000 }
        createdAt: { type: string, format: date-time, maxLength: 40 }
    HexCoord:
      type: object
      description: An axial hex coordinate.
      additionalProperties: false
      required: [q, r]
      properties:
        q: { type: integer, format: int32, minimum: -500, maximum: 500 }
        r: { type: integer, format: int32, minimum: -500, maximum: 500 }
    HexCell:
      type: object
      description: One hex of a local map.
      additionalProperties: false
      required: [q, r]
      properties:
        q: { type: integer, format: int32, minimum: -500, maximum: 500 }
        r: { type: integer, format: int32, minimum: -500, maximum: 500 }
        difficult: { type: boolean }
        blocked: { type: boolean }
        blocksSight: { type: boolean }
        elevationFt: { type: integer, format: int32, minimum: -1000, maximum: 1000 }
        cover: { $ref: "#/components/schemas/CoverLevel" }
    CoverLevel:
      type: string
      description: How much of a target is hidden.
      enum: [none, half, three_quarters, total]
    HexOccupant:
      type: object
      description: A creature in a hex, as the mover sees it.
      additionalProperties: false
      required: [q, r, side]
      properties:
        q: { type: integer, format: int32, minimum: -500, maximum: 500 }
        r: { type: integer, format: int32, minimum: -500, maximum: 500 }
        side: { type: string, enum: [ally, enemy] }
    ReachRequest:
      type: object
      description: A map, a mover and optionally a target hex.
      additionalProperties: false
      required: [cells, from, speedFt]
      properties:
        cells:
          type: array
          maxItems: 4000
          items: { $ref: "#/components/schemas/HexCell" }
        occupants:
          type: array
          maxItems: 200
          items: { $ref: "#/components/schemas/HexOccupant" }
        from: { $ref: "#/components/schemas/HexCoord" }
        to: { $ref: "#/components/schemas/HexCoord" }
        speedFt: { type: integer, format: int32, minimum: 0, maximum: 500 }
        climbSpeed: { type: boolean }
    ReachHex:
      type: object
      description: A reachable hex with its cost and where it is reached from.
      additionalProperties: false
      required: [q, r, costFt, canEnd, from]
      properties:
        q: { type: integer, format: int32, minimum: -500, maximum: 500 }
        r: { type: integer, format: int32, minimum: -500, maximum: 500 }
        costFt: { type: integer, format: int32, minimum: 0, maximum: 500 }
        canEnd: { type: boolean }
        from: { $ref: "#/components/schemas/HexCoord" }
    ReachPreview:
      type: object
      description: The reachable hexes, and the path to the target when there is one.
      additionalProperties: false
      required: [hexes]
      properties:
        hexes:
          type: array
          maxItems: 4000
          items: { $ref: "#/components/schemas/ReachHex" }
        path:
          type: array
          maxItems: 4000
          items: { $ref: "#/components/schemas/HexCoord" }
        pathCostFt: { type: integer, format: int32, minimum: 0, maximum: 500 }
    SightRequest:
      type: object
      description: A map and two hexes.
      additionalProperties: false
      required: [cells, from, to]
      properties:
        cells:
          type: array
          maxItems: 4000
          items: { $ref: "#/components/schemas/HexCell" }
        occupants:
          type: array
          maxItems: 200
          items: { $ref: "#/components/schemas/HexOccupant" }
        from: { $ref: "#/components/schemas/HexCoord" }
        to: { $ref: "#/components/schemas/HexCoord" }
    SightPreview:
      type: object
      description: What one hex sees of another.
      additionalProperties: false
      required: [visible, cover, acBonus]
      properties:
        visible: { type: boolean }
        cover: { $ref: "#/components/schemas/CoverLevel" }
        acBonus: { type: integer, format: int32, minimum: 0, maximum: 5 }
    PlaySession:
      type: object
      description: One evening of play.
      additionalProperties: false
      required: [id, number, status, seq, gridRadius, startedAt]
      properties:
        id: { $ref: "#/components/schemas/Id" }
        number: { type: integer, format: int32, minimum: 1, maximum: 100000 }
        status: { type: string, enum: [live, ended] }
        seq: { type: integer, format: int32, minimum: 0, maximum: 2147483647 }
        gridRadius: { type: integer, format: int32, minimum: 1, maximum: 60 }
        startedAt: { type: string, format: date-time, maxLength: 40 }
        endedAt: { type: string, format: date-time, maxLength: 40 }
    TokenKind:
      type: string
      description: What a Token stands for.
      enum: [party, enemy, npc, object]
    LiveToken:
      type: object
      description: A Token as a connection sees it.
      additionalProperties: false
      required: [id, label, kind, q, r, hidden, darkvisionFt]
      properties:
[...]
